<script type="text/javascript">
        $(function(civil){
            console.log(civil);
            $('#escala').change(function() {
                $('#descripcion').text( $(this).val() );
            });
        });
    </script>
<div ng-controller="datosCiudadanoController" data-ng-init="inicioDatosCiudadano()">
    <div class="row">
        <div class="col-md-12">
      <div class="col-lg-4">                
                <div class="panel panel-default">
            <div class="panel-heading"><H5>Datos Personales</H5></div>                    
              <div class="panel-body"> 
                        <br>
                        <div class="col-md-12"><div class="col-sm-6 text-center"><img src="../../../inicio/img/anonimo_user.png" class="img-responsive img-thumbnail center-block" alt="Anonimo"/></div></div>
                        <table class="table table-condensed">
                           <thead>
                              <tr>
                                 <th><br>Información general</th>
                              </tr>
                           </thead>
                           <tbody>                                
                              <tr>
                                 <td>
                                    <div class="col-sm-4">Nombre :</div>
                                    <div class="col-sm-8">{{registro.nombre}}&nbsp {{registro.paterno}}&nbsp {{registro.materno}}</div>
                                </td>
                              </tr>                               
                               <tr>
                                 <td>
                                    <div class="col-sm-4">CI :</div>
                                    <div class="col-sm-7">{{registro.cedula}}</div>
                                </td>
                              </tr>                               
                               <tr>
                                 <td>
                                    <div class="col-sm-4">Estado Civil :</div>
                                    <div class="col-sm-7">{{registro2.estado_civil}}</div>
                                </td>
                              </tr>                               
                               <tr>
                                 <td>
                                    <div class="col-sm-4">Sexo :</div>
                                    <div class="col-sm-7">{{registro.sexo}}</div>
                                </td>
                              </tr>                               <tr>
                                 <td>
                                    <div class="col-sm-4">Fecha Nacimiento :</div>
                                    <div class="col-sm-7">{{registro.fecha_nacimiento}}</div>
                                </td>
                              </tr>
                               <tr>
                                 <td>
                                    <div class="col-sm-4">Dirección :</div>
                                    <div class="col-sm-7">{{registro.direccion}}</div>
                                </td>
                              </tr>
                           </tbody>
                           <thead>
                              <tr>
                                 <th><br>Información de contacto</th>
                              </tr>
                           </thead>
                           <tbody>
                               <tr>
                                 <td>
                                    <div class="col-sm-4">Telefono :</div>
                                    <div class="col-sm-7">{{registro.telefono}}</div>
                                </td>
                              </tr>
                               <tr>
                                 <td>
                                    <div class="col-sm-4">Celular :</div>
                                    <div class="col-sm-7">{{registro.celular}}</div>
                                </td>
                              </tr>
                               <tr>
                                 <td>
                                    <div class="col-sm-4">Correo :</div>
                                    <div class="col-sm-7">{{registro.correo}}</div>
                                </td>
                              </tr>
                           </tbody>
                           <thead>
                              <tr>
                                 <th><br>Información adicional</th>
                              </tr>
                           </thead>
                           <tbody>
                               <tr>
                                 <td>
                                    <div class="col-sm-4">Lugar de Trabajo :</div>
                                    <div class="col-sm-7">GAMLP</div>
                                </td>
                              </tr>                               
                              <tr>
                                 <td><br>
                                    <div class="btn pull-right">
                                        <p class="text-success" style="font-family:courier"><h6>Nota.- Para modificar sus datos comuniquese<br> con el Administrador del sistema</h6></p>
                                     </div>
                                </td>
                              </tr>
                           </tbody>                                
                        </table>
                </div>                    
                    </div>
                </div>
      <div class="col-lg-8">
        <div class="panel panel-default">
                <div class="panel-heading"><H5>Servicios</H5></div>
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#calendario" aria-controls="profile" role="tab" data-toggle="tab">Calendario</a></li>
                    <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" ng-click="datosReportePlaformista()" >Actividades recientes</a></li>
                    <li role="presentation"><a href="#informacion" aria-controls="profile" role="tab" data-toggle="tab">Información</a></li>                     
                   <li role="presentation"><a href="#noticias" aria-controls="profile" role="tab" data-toggle="tab">Noticias</a></li>
                  </ul>
                  <!-- Arbol logs -->       
                  <div class="tab-content">                      
                    <div role="tabpanel" class="tab-pane" id="informacion">
                        <div id="contenedorPrincipal" class="slide-animation">    
                            <div class="page-content">
                                <div class="row">
                                    <div class="space-6"></div>
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div id="login-box" class="login-box visible widget-box no-border">
                                            <div class="widget-body">
                                                <div class="widget-main">
                                                <h4 class="header blue lighter bigger">
                                                    <i class="icon-coffee green">   Bienvenido</i>
                                                </h4>
                                                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                                      <div class="carousel-inner">
                                                          <div class="item active centered">
                                                              <img class="img-responsive" src="../../../inicio/img/portfolio/imagen1.jpg" alt="">
                                                              <h2><font color="#4B4940"> ¿Qué es?</font> </h2>
                                                              <br><font color="#4B4940">
                                                              <p> El Registro Ciudadano es una identificación digital única que permite al ciudadano registrado acceder a información y servicios del Gobierno Autónomo Municipal de La Paz. El ciudadano registra proveyendo sus generales de ley y datos domiciliarios básicos, los cuales son resguardados con las más estrictas medidas de seguridad informática. </p></font>
                                                          </div>
                                                          <div class="item centered">
                                                              <img class="img-responsive" src="../../../inicio/img/portfolio/imagen2.png" alt="">
                                                              <h2> <font color="#4B4940" >¿Cómo me registro?</font> </h2>
                                                              <br> <p align="left">
                                                              <font color="#4B4940">
                                                                  <p>Ingreso mi número de Cédula de Identidad. </p>
                                                                  <p>Selecciono el lugar donde fue expedido. </p>
                                                                  <p>Introduzco mi datos personales. </p>
                                                                  <p>Introduzco mis datos domiciliarios (lo más precisos posible). </p>
                                                              </font>
                                                              </p>
                                                          </div>
                                                          <div class="item centered">
                                                              <img class="img-responsive" src="../../../inicio/img/portfolio/imagen3.png" alt="">
                                                              <h2> <font color="#4B4940">¿Qué Beneficios existen?</font> </h2>
                                                              <br>
                                                              <p align="left">
                                                              <font color="#4B4940">
                                                                  <p>Respuesta inmediata a mi consulta. </p>
                                                                  <p>Información sobre vencimiento de obligaciones. </p>
                                                                  <p>Puedo realizar todos mis trámites y consultas en línea . </p>
                                                                  <p>Ahorro tiempo. </p>
                                                              </font>
                                                              </p>
                                                          </div>
                                                      </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                      
                    <div role="tabpanel"  class="tab-pane" id="home">
                        <br>
                        <div class="tree">
                            <ul>
                                <li>&nbsp;</li>
                                <li>
                                    <span><i class="icon-calendar"></i> Historial de acciones</span>
                                    <ul><li>&nbsp;</li></ul>
                                    <ul>
                                        <li  ng-repeat ="aFila in aLogPlataforma | limitTo: 15">
                                            <span class="badge progress-bar-success"><i class="icon-minus-sign"></i> {{aFila.vlgsmodificado}}</span>
                                            <ul>
                                                <li>
                                                    <!-- {{aFila.vlgsmodificado | date:"MM/dd/yyyy 'at' h:mma"}} -->
                                                    <span><i class="icon-time"></i></span> &ndash; {{aFila.vevento}}
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                  <!-- Tab panes -->                      
                    <div role="tabpanel" class="tab-pane active" id="calendario">
                        <div class="panel-body">
                            
                            <div class="row" ng-controller="MainCtrl" id="demo">
                            <div class="col-md-12 col-md-offset-0">
                              <h2 class="text-center">{{ calendarTitle }}</h2>

                              <div class="row">

                                <div class="col-md-6 text-center">
                                  <div class="btn-group">

                                    <button
                                      class="btn btn-success"
                                      mwl-date-modifier
                                      date="calendarDay"
                                      decrement="calendarView">
                                      Anterior
                                    </button>
                                    <button
                                      class="btn btn-default"
                                      mwl-date-modifier
                                      date="calendarDay"
                                      set-to-today>
                                      Hoy
                                    </button>
                                    <button
                                      class="btn btn-success"
                                      mwl-date-modifier
                                      date="calendarDay"
                                      increment="calendarView">
                                      Siguiente
                                    </button>
                                  </div>
                                </div>

                                <br class="visible-xs visible-sm">

                                <div class="col-md-6 text-center">
                                  <div class="btn-group">
                                    <label class="btn btn-success" ng-model="calendarView" btn-radio="'year'">Año</label>
                                    <label class="btn btn-success" ng-model="calendarView" btn-radio="'month'">Mes</label>
                                    <label class="btn btn-success" ng-model="calendarView" btn-radio="'week'">Semana</label>
                                    <label class="btn btn-success" ng-model="calendarView" btn-radio="'day'">Día</label>
                                  </div>
                                </div>

                              </div>

                              <br>

                              <mwl-calendar
                                events="events"
                                view="calendarView"
                                view-title="calendarTitle"
                                current-day="calendarDay"
                                on-event-click="eventClicked(calendarEvent)"
                                on-event-drop="eventDropped(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                                edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                                delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                                on-edit-event-click="eventEdited(calendarEvent)"
                                on-delete-event-click="eventDeleted(calendarEvent)"
                                auto-open="true"
                                day-view-start="06:00"
                                day-view-end="22:00"
                                day-view-split="30">
                              </mwl-calendar>

                              <br><br><br>

                              <script type="text/ng-template" id="modalContent.html">
                                <div class="modal-header">
                                  <h3 class="modal-title">Event action occurred!</h3>
                                </div>
                                <div class="modal-body">
                                  <p>Action: <pre>{{ action }}</pre></p>
                                  <p>Event: <pre>{{ event | json }}</pre></p>
                                </div>
                                <div class="modal-footer">
                                  <button class="btn btn-primary" ng-click="$close()">OK</button>
                                </div>
                              </script>
                            </div>
                          </div>                                      
                                
                        </div>
                    </div>
                  <!-- Tab panes -->                      
                    <div role="tabpanel" class="tab-pane" id="noticias">
                            <div id="contenedorPrincipal" class="slide-animation">    
                            <div class="page-content">
                                <div class="row">
                                    <div class="space-6"></div>
                                    <div class="col-sm-12">
                                        <div id="login-box" class="login-box visible widget-box no-border">
                                            <div class="widget-body">
                                                    <br>
                                                    <div class="col-md-7">
                                                    <button ng-click="actualizarNoticia()" data-dismiss="modal" type="button" class="btn btn-success fa fa-refresh"></button>
                                                     <button ng-click="limpiar()" data-toggle="modal" data-target="#formModal2"  type="button" class="btn btn-success center-block fa fa-plus">Adicionar Noticia</button>
                                                    </div>
                                                    
                                                      <div class="form-group">
                                                          <label class="col-sm-1 control-label no-padding-right" for="paterno">Buscar:</label>
                                                          <div class="col-sm-4">
                                                              <span class="block input-icon input-icon-right">
                                                                  <input ng-model = "query" id ="busca1" class="form-control" placeholder="" >
                                                                   <legend></legend>     
                                                              </span>
                                                          </div>
                                                      </div>

                                                     <br>
                                                    <table  ng-table="tablaNoticias"  class="table table-striped table-bordered">
                                                       
                                                          <tr ng-repeat="noticia in $data  | filter:query  ">
                                                            <td data-title="'Opciones'">
                                                              <a ng-click="modificarNoticiaCargar(noticia)"  class="btn btn-default btn-circle" data-toggle="modal" data-target="#formModal2"><i class="fa   fa-pencil " style="color:#249FE6"></i> </a>
                                                              <a ng-click="eliminarNoticiaCargar(noticia)"  class="btn btn-default btn-circle"  data-toggle="modal" data-target="#formModal2">
                                                              <i class="fa  fa-trash-o "  style="color:#249FE6"></td>
                                                            <td data-title="'Imagen'"><a href="#" data-toggle="modal" data-target="#formModal" ng-click="seleccionarNoticia(noticia)">
                                                              <img ng-src="{{img_url}}/{{noticia.cntimagen}}" width="100px" height="100px"></a> </td>
                                                            <td data-title="'Título'">{{noticia.cnttitulo}}</td>     
                                                            <td data-title="'Resumen'">{{noticia.cntresumen | limitTo:220 }} <a href="{{noticia.cnt_url}}" target="_black"> + Mas </a></td>
                                                            <td data-title="'Fecha'">{{noticia.cntregistrado}}</td> 
                                                          </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                  </div>
          </div>
            </div>
    </div>
  </div>
  <!-- MODAL -->

     <div class="modal fade" id="formModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
                </div>
                <div class="modal-body" >
                    <form name="formularioUsuarios" readOnly="true" novalidate>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label >Título</label>
                              <input  ng-model="noticia.cnttitulo"  onChange="conMayusculas(this)"  id="nTitulo" name="nTitulo" class="form-control" type="text" placeholder="Ingrese título" ng-disabled="desabilitado" required>
                            
                            </div>
                          </div>
                          <div class="col-md-12">
                          <label for="text">Resumen</label>
                            <div class="form-group">
                              <textarea id="text"  cols="40" rows="5" class="form-control" my-maxlength="5" ng-model="noticia.cntresumen" ng-disabled="desabilitado" required></textarea>
                            </div>
                          </div>
                          <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-7 control-label no-padding-right" for="fecNacimiento">Fecha </label>
                                                <div class="col-sm-12">
                                                    <p class="input-group"><input name="fechaNac" id="fechaNac" type="text" placeholder="Fecha nacimiento"   class="form-control" datepicker-popup="" ng-model="noticia.cntregistrado" is-open="startDateOpened" close-text="Close" ng-disabled="true" required/>   
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span></p>
                                                   
                                                </div>
                                            </div>
                          </div>
                            <div class="col-md-6">
                              <label for="text">URL</label>
                              <div class="form-group">
                                 <input  ng-model="noticia.cnturl"  onChange="conMayusculas(this)"  id="nTitulo" name="nTitulo" class="form-control" type="text" placeholder="Ingrese Url" ng-disabled="desabilitado" required>
                              </div>
                            </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <div class="col-md-`12">
                                    <label for="url" >Adjuntar Imagen:</label>
                                    <input type="file" nv-file-select="" ng-model="noticia.cntimagen"  uploader="uploader"/>
                              </div>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="50%">Nombre</th>
                                                <th ng-show="uploader.isHTML5">Tamano</th>
                                                <th ng-show="uploader.isHTML5">Estado</th>
                                                <th></th>
                                                <th>Opcion</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in uploader.queue">
                                                <td><strong>{{ item.file.name }}</strong></td>
                                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                <td ng-show="uploader.isHTML5">
                                                    <div class="progress" style="margin-bottom: 0;">
                                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                    
                                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                                </td>
                                                <td nowrap>
                                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                        <span class="glyphicon glyphicon-upload"></span> Subir
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                          </div> 
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button id="cerrar" name="cerrar" type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                      <button ng-click="guardarNoticia(noticia);" data-dismiss="modal" type="button" class="btn btn-success"
                      ng-show="boton=='new'" ng-hide="boton=='upd' || boton=='del'">Guardar</button>
                    <button ng-click="modificarNoticia(noticia.cntid,noticia)" data-dismiss="modal" type="button" class="btn btn-success" ng-show="boton=='upd'" ng-hide="boton=='new' || boton=='del'">Modificar</button>
                    <button ng-click="eliminarNoticia(noticia.cntid)" data-dismiss="modal" type="button" class="btn btn-success" ng-show="boton=='del'" ng-hide="boton=='new' || boton=='upd'" >Eliminar</button>
                </div>
            </div>
        </div>
    </div>
<!-- MODAL -->
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel"> {{tituloSeleccionado}} </h4>
                </div>
                <div class="modal-body" >
                    <form name="formularioUsuarios" readOnly="true" novalidate>
                        <div class="row">
                             <div class="col-md-12">                            
                                <div class="form-group" align="center">
                                    <img ng-src="{{img_url}}/{{imagenSeleccionada}}" width="200px" height="200px">   
                                </div> 
                            </div>
                             <div class="col-md-12">
                                <div class="form-group">
                                    <p>
                                      {{resumenSeleccionado}}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">                            
                                <div class="form-group">
                                    <p>
                                        <span class="block input-icon input-icon-right">
                                            <a href="{{origenSeleccionado}}" target="_black"> Origen de la Noticia </a>
                                        </span>
                                    </p>
                                </div> 
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="cerrar" name="cerrar" type="button" class="btn btn-default" data-dismiss="modal">Atras</button>
                </div>
            </div>
        </div>
    </div>
</div><!-- cierra  el page content  -->