<div class="col-md-12" class="row" ng-controller="difuntoController" data-ng-init="inicioDifunto()">
	<table width="100%">
		<td><h3>Difuntos</h3></td> 
	</table>
	<br/>
	<div class="row"> 
        <table ng-table="tablaDifunto"  show-filter="true" class="table table-striped table-bordered">
            <tr ng-repeat="difunto in $data" ng-class="{'colorInactivo': persona.prsEstado == 'INACTIVO'}">
                <a class="btn btn-primary" ng-click="crearDifunto()" data-toggle="modal" data-target="#registro">
                <i class="glyphicon glyphicon-plus-sign"></i> Asignar Nicho </a>
                <td align="center" data-title="'Opciones'">
                    <a ng-click="modificarDifunto(datosDifunto)" class="btn btn-default btn-circle" data-toggle="modal" data-target="#registro"><i class="fa fa-pencil" style="color:#249FE6"></i></a>
                    <a ng-click="eliminarPersonaCargar(persona)" class="btn btn-default btn-circle" data-toggle="modal" data-target="#registro"><i class="fa fa-trash-o" style="color:#249FE6"></i></a>
                    <a ng-click="eliminarPersonaCargar(persona)" class="btn btn-default btn-circle" data-toggle="modal" data-target="#registro"><i class="fa fa-map-marker" style="color:#249FE6"></i></a>
                </td>
                <td data-title="'Nombre Completo'" sortable="'rtnombre'" filter="{'rtnombre':'text'}">{{difunto.rtnombre}}</td>
                <td data-title="'Apellido Paterno'" sortable="'rtappat'" filter="{'rtappat':'text'}">{{difunto.rtappat}}</td>
                <td data-title="'Apellido Materno'" sortable="'rtapmat'" filter="{'rtapmat':'text'}">{{difunto.rtapmat}}</td>
                <td data-title="'C.I.'" sortable="'rtci'" filter="{'rtci':'text'}">{{difunto.rtci}}</td>
            </tr>
        </table>
    </div>
    <!--!modal!-->
 <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
                </div>
                <div class="modal-body" >
                    <form name="formularioDifuntos" readOnly="true" novalidate>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group" >
                                    <label for="url" >Nombre del difunto:</label>
                                    <div class="controls">
                                        <select ng-model="datosDifunto.nac_id" id="nac_id" name="nac_id" class="form-control"  ng-required="true">
                                            <option ng-repeat="nacion in nacionalidad" value="{{nacion.fn_nac_id}}">{{nacion.fn_nac_descripcion}}</option>
                                        </select>
                                        <span style="color:red" ng-show="formularioDifuntos.nac_id.$invalid">
                                            <span ng-show="formularioDifuntos.nac_id.$error.required">Nombre del difunto requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group" >
                                    <label for="url" >Codigo de Asignación:</label>
                                    <div class="controls">
                                        <input  cols="80" rows="5" ng-model="datosDifunto.difNom" id="difNom" name="difNom" class="form-control" type="text" placeholder="Ingrese Asignación" 
                                        ng-disabled="desabilitado"  onkeyUp="return conMayusculas(this);" required>
                                        <span style="color:red" ng-show="formularioDifuntos.difNom.$invalid">
                                            <span ng-show="formularioDifuntos.difNom.$error.required">Codigo es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group" >
                                    <label for="url" >Tipo:</label>
                                    <div class="controls">
                                        <select ng-model="datosDifunto.nac_id" id="nac_id" name="nac_id" class="form-control"  ng-required="true">
                                            <option ng-repeat="nacion in nacionalidad" value="{{nacion.fn_nac_id}}">{{nacion.fn_nac_descripcion}}</option>
                                        </select>
                                        <span style="color:red" ng-show="formularioDifuntos.nac_id.$invalid">
                                            <span ng-show="formularioDifuntos.nac_id.$error.required">Tipo de asignacion es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                             <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >Fecha de Ingreso:</label>
                                    <div class="controls">
                                        <p class="input-group">
                                            <input name="fechaNacimiento" id="fechaNacimiento" type="text" class="form-control" datepicker-popup="" ng-model="datosDifunto.fechaNacimiento" is-open="startDateOpened"  close-text="Close" ng-disabled="desabilitado" required/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span></p>
                                        <span style="color:red" ng-show="formularioDifuntos.fechaNacimiento.$invalid">
                                            <span ng-show="formularioDifuntos.fechaNacimiento.$error.required">Fecha de Ingreso es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                             <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >Fecha de salida:</label>
                                    <div class="controls">
                                        <p class="input-group">
                                            <input name="fechaNacimiento" id="fechaNacimiento" type="text" class="form-control" datepicker-popup="" ng-model="datosDifunto.fechaNacimiento" is-open="startDateOpened"  close-text="Close" ng-disabled="desabilitado" required/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span></p>
                                        <span style="color:red" ng-show="formularioDifuntos.fechaNacimiento.$invalid">
                                            <span ng-show="formularioDifuntos.fechaNacimiento.$error.required">Fecha de Salida es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group" >
                                    <label for="url" >Observaciones:</label>
                                    <div class="controls">
                                        <input  ng-model="datosDifunto.difMat" id="difMat" name="difMat" class="form-control" type="text" placeholder="Ingrese observacion de asignación" 
                                        ng-disabled="desabilitado" onkeyUp="return conMayusculas(this);" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >Estado:</label>
                                    <div class="controls" >
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="radio" ng-model="datosDifunto.difSexo" name="difSexo" value="M" ng-change="" ng-disabled="desabilitado" ng-required="true">&nbsp;Activo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="radio" ng-model="datosDifunto.difSexo" name="difSexo" value="F" ng-change="" ng-disabled="desabilitado" ng-required="true">&nbsp;Baja<br>
                                        <span style="color:red" ng-show="formularioDifuntos.difSexo.$invalid">
                                            <span ng-show="formularioDifuntos.difSexo.$error.required">Estado es requerido.
                                            </span>
                                        </span>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >Observacion de estado:</label>
                                    <div class="controls">
                                        <input  ng-model="datosDifunto.difCi" id="difCi" name="difCi" class="form-control" type="text" placeholder="Ingrese observacion" ng-disabled="desabilitado" onkeyUp="return valNumero(this);" required>
                                        <span style="color:red" ng-show="formularioDifuntos.difCi.$invalid">
                                            <span ng-show="formularioDifuntos.difCi.$error.required">Observacion es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--inicio de combos!-->
                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="category">Comprobante de pago</label>                                  
                                    <div class="controls">
                                        <select ng-model="datosDifunto.nac_id" id="nac_id" name="nac_id" class="form-control"  ng-required="true">
                                            <option ng-repeat="nacion in nacionalidad" value="{{nacion.fn_nac_id}}">{{nacion.fn_nac_descripcion}}</option>
                                        </select>
                                        <span style="color:red" ng-show="formularioDifuntos.nac_id.$invalid">
                                            <span ng-show="formularioDifuntos.nac_id.$error.required">nacionalidad es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>                          
                               
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="demo2" type="button" class="btn btn-default" data-dismiss="modal">Cerrar </button>

                    <button ng-click="adicionarDifunto(datosDifunto)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='new'" ng-hide="boton=='upd' || boton=='del'" ng-disabled="formularioDifuntos.$invalid">Guardar</button>

                    <button ng-click="modificarDifunto(datosDifunto.dif_id,datosDifunto)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='upd'" ng-hide="boton=='new' || boton=='del'" ng-disabled="formularioDifuntos.$invalid">Modificar</button>

                    <button ng-click="eliminarPersona(datosDifuntoa.prsId)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='del'" ng-hide="boton=='new' || boton=='upd'">Eliminar</button>
                </div>
            </div>
        </div>
    </div>




    
</div>