<script type="text/javascript">
            // When the document is ready
      function conMayusculas(field) {
        field.value = field.value.toUpperCase()
      };
      //*** Este Codigo permite Validar que sea un campo Numerico
            function soloNumerico(variable){
                Numer=parseInt(variable);
                if (isNaN(Numer)){
                    return "";
                }
                return Numer;
            }
            function valNumero(Control){
                Control.value=soloNumerico(Control.value);
            }
            //*** Fin del Codigo para Validar que sea un campo Numerico
</script>
<!--<script src="app/controller/administracion/appNacionalidad.js" type="text/javascript"></script>-->
<div  class="col-md-12" ng-controller="nacController" data-ng-init="inicioNacion()">
    <table width="100%">
        <td><h3>Nacionalidad</h3></td>
    </table>
    <br/>
    <div class="row">
        <table ng-table="tablaNacion" show-filter="true" class="table table-striped table-bordered">
            <tr ng-repeat="nacion in $data" ng-class="{'colorInactivo': nacion.fn_estado == 'INACTIVO'}">
                <a class="btn btn-primary" ng-click="limpiar()" data-toggle="modal" data-target="#registro">
                    <i class="glyphicon glyphicon-plus-sign"></i> Nueva nacionalidad
                </a>
                <td align="center" data-title="'Opciones'">
                    <a class="btn btn-default btn-circle" data-toggle="modal" data-target="#registro" ng-click="modificarNacionCargar(nacion)"><i class="fa fa-pencil" style="color:#249FE6"></i></a>
                    <a onclick="" data-toggle="modal" data-target="#registro" ng-click="eliminarNacionCargar(nacion)" class="btn btn-default btn-circle" ><i class="fa fa-trash-o" style="color:#249FE6"></i></a>
                </td>
                <!--td data-title="'ID'">{{rol.rlsId}}</td-->
                <td data-title="'Nacionalidad'" sortable="'fn_nac_descripcion'" filter="{'fn_nac_descripcion':'text'}">{{nacion.fn_nac_descripcion}}</td>
                <td data-title="'Registrado'" sortable="'fn_nac_registro'" filter="{'fn_nac_registro':'text'}">{{nacion.fn_nac_registro}}</td>
                <td data-title="'Modificado'" sortable="'fn_modificado'" filter="{'fn_modificado':'text'}">{{nacion.fn_modificado}}</td>
                <td data-title="'Estado'" sortable="'fn_estado'" filter="{'fn_estado':'text'}">{{nacion.fn_estado}}</td>
            </tr>
        </table>
    </div>
    <!-- MODAL -->
    <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
                </div>
                <div class="modal-body" >
                    <form name="formularioNacion" novalidate>
                        <div class="form-group">
                            <label for="url" >Nacionalidad:</label>
                            <div class="controls">
                                <input  ng-value="&nbsp;" ng-model="datosNacion.fn_nac_descripcion" name="fn_nac_descripcion" id="fn_nac_descripcion" class="form-control" type="text" placeholder="ingrese nombre de la nacionalidad" ng-disabled="only" ng-required="true" onkeyUp="return conMayusculas(this)">
                                <span style="color:red" ng-show="formularioNacion.fn_nac_descripcion.$invalid">
                                    <span ng-show="formularioNacion.fn_nac_descripcion.$error.required">Nombre de la Nacionalidad es requerido.
                                    </span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button data-dismiss="modal" ng-click="adicionarNacion(datosNacion)" type="button" class="btn btn-primary" ng-show="boton=='new'" ng-hide="boton=='upd' || boton=='del'" ng-disabled="formularioNacion.fn_nac_descripcion.$invalid">Guardar</button>
                    <button ng-click="modificarNacion(datosNacion.fn_nac_id,datosNacion)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='upd'" ng-hide="boton=='new' || boton=='del'" ng-disabled="formularioNacion.fn_nac_descripcion.$invalid">Modificar</button>
                    <button ng-click="eliminarNacion(datosNacion.fn_nac_id)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='del'" ng-hide="boton=='new' || boton=='upd'">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>