<div class="col-md-12" class="row" ng-controller="entierroController" data-ng-init="inicioTitular()">
<div class="row">
    <div class="col-md-12">
               
                <div class="panel panel-default">
                  <div class="panel-heading"><center><H5>PROCESO DE INHUMACION</H5></center></div>                    
                   <div class="panel-body"> 
                        <table class="table  table-bordered">
                           <thead>
                              <tr>
                                 <th width="50%">INFORMACION TITULAR</th>
                                 <th width="50%">REQUISITOS: </th>
                              </tr>
                           </thead>
                           <tbody>                                
                              <tr>
                                 <td width="50%">
                                    <div class="col-sm-4"><strong>Ape. Paterno : </strong></div>
                                    <div class="col-sm-8" align="left">{{paterno}}</div>
                                 </td>
                                 <td rowspan="4">LSTAAAA</td>
                                 
                                 </tr>
                               <tr>
                                 <td>   
                                    <div class="col-sm-4"> <strong>Ape. Materno : </strong></div>
                                   <div class="col-sm-8" align="left">{{materno}}</div>
                                    </td>
                                    </tr>
                               <tr>
                                 <td>
                                 <div class="col-sm-4"><strong>Nombres : </strong></div>
                                 <div class="col-sm-8" align="left">{{nombre}}</div>
                                 
                                    </td>
                                    </tr>
                               <tr>
                                 <td>
                                    <div class="col-sm-4"><strong> <strong>C.I. : </strong>  </div>
                                    <div class="col-sm-8" align="left">{{carnet}}</div>            
                                 </td>
                              </tr> 
                                                      
                           </tbody>
                        </table>
                </div>                    
             </div>
         </div>
  </div>

