    <div id="contenedorPrincipal" class="slide-animation">    
        <div class="page-content">
            <div class="row">
                <div class="space-6"></div>
                <div class="col-sm-10 col-sm-offset-1">
                    <div id="login-box" class="login-box visible widget-box no-border">
                        <div class="widget-body">
                            <div class="widget-main">
                                <h4 class="header blue lighter bigger">
                            <i class="icon-coffee green"></i>
                            <h3>Bienvenido</h3>
                        </h4>
                                <div class="space-16"></div>
                                <!--br/>NOMBRE: {{nombre}}                                
                                ID USUARIO: {{usuario}}
                                <br/>NOMBRE: {{nombre}} 
                                <br/-->
                                <div id="conteneur">
                                  <div id="anim" style="margin: 0 auto;width:550px;">
                                            <script type="text/javascript">
                                                       myFlashIntro('files/flash/animation',550,400,'#B7C9FF','anim','custom.xml');
                                                </script>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="free-flash-intro" style="position: absolute; bottom: 10px;font-size:10px;width:100%;font-size:10px;text-align:center;overflow:auto;color:#615d5d"><!--strong> flash animation</strong> en <a href="http://www.freeplantillas.com/flash-animation/"><strong>freeplantillas.com</strong></a--></div>
        <!-- /.page-content -->