<!DOCTYPE html>
<html lang="en" ng-app="myApp">

  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"></meta>
    <meta content="width=device-width, initial-scale=1" name="viewport"></meta>
    
    <title>..:: CEMENTERIOS ::.. </title>
    <!--<link hre/f="../../libs/csss/bootstrap.min.css" rel="stylesheet">-->
    <link href="../../libs/csss/megamenu.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="files/js/AC_RunActiveContent.js" type="text/javascript"></script>
    <script src="files/js/main.js" type="text/javascript"></script>
    <!-- Bootstrap -->
    <!--<link href="../../libs/csss/bootstrap.min.css" rel="stylesheet"/>-->
    <link href="../../libs/csss/custom.css" rel="stylesheet"/>
    <link href="../../libs/csss/toaster.css" rel="stylesheet"/>
    <!-- calendario -->
    <!--<link rel="stylesheet" href="../../libs/css/main.css">-->
    <link rel="stylesheet" href="../../libs/css/angular-bootstrap-calendar.min.css">

    <style type="text/css">#free-flash-intro a,#free-flash-intro a:hover {color:#615d5d;}#free-flash-intro a:hover {text-decoration:none}</style>
    <style>
        .ng-table tr.colorInactivo td {
            background-color: #F9EFE0;
            font-weight: bold;
        }
        .ng-table tr.colorBloqueado td {
            background-color: #D9E9F7;
            font-weight: bold;
        }
        #conteneur {
            width:700px; /*(700-187*2)*/
            height:550px;
            margin:30px auto 0px auto;
            background-image: url(files/images/fd.jpg);
            background-repeat:no-repeat;
            padding: 50px 0 0 0;
        }
    </style>
    <link href="../../libs/css_dashboard/font-awesome.css" rel="stylesheet">
    <link href="../../libs/css_dashboard/style.css" rel="stylesheet">
    <link href="../../libs/css_dashboard/reports.css" rel="stylesheet">
    <!--<link href="../../libs/css_dashboard/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
        rel="stylesheet">-->
    <script src="../../libs/js_dashboard/jquery-1.7.2.min.js"></script>
    <script src="../../libs/js_dashboard/excanvas.min.js"></script>
    <script src="../../libs/js_dashboard/chart.min.js" type="text/javascript"></script>
    <script src="../../libs/js_dashboard/bootstrap.js"></script>
    <script src="../../libs/js_dashboard/base.js"></script>
  </head>
    <!--<div  ng-if='usuario && nombre'>-->
    <div  ng-if='login_local || login_oaut'>
      <nav class="navbar navbar-inverse megamenu">
      <div class="container-fluid" >
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Inicio</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><font color="#255EC3">_____________</font></a>
          </div>
          <div class="navbar-collapse collapse"  id="bs-example-navbar-collapse-1" ng-controller="NavCtrl" data-ng-init="inicioMenu()">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="#registro_ciudadano|datosCiudadano"><font color="#255EC3"> INICIOO <span class="sr-only">(current)</span></font></a>
              </li>
            <li ng-repeat ="p in categories" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle"><font color="#255EC3">{{p.grupo}}
            <span class="caret"></span></font></a>
              <ul class="dropdown-menu"  role="menu">
                  <li ng-repeat="c in p.sub_categories">
                      <a href="#{{c.contenido}}">{{c.opcion}}</a>
                  </li>
              </ul>
            </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" ng-controller="authCtrl">
                    <a class="dropdown-toggle" data-toggle="dropdown">                        
                        <small><b>{{nombre}}</b></small>&nbsp;
                        <i class="fa fa-user fa-lg"></i>  <i class="fa fa-caret-down"></i>                        
                    </a>
                    <ul class="dropdown-menu dropdown-user">                        
                        <li>
                            <a >                                
                                <i class="fa fa-user fa-fw"></i> 
                                <span class="text-muted">
                                        <em>Rol:</em>
                                </span>
                                {{usRol}}
                            </a>
                        </li>            
                        <li>
                            <a >                                
                                <i class="fa fa-user fa-fw"></i> 
                                <span class="text-muted">
                                        <em>Nombre:</em>
                                </span>
                                {{usNombre}}
                            </a>
                        </li>
                        <li>
                            <a >                                
                                <i class="fa fa-user fa-fw"></i> 
                                <span class="text-muted">
                                        <em>Paterno:</em>
                                </span>
                                {{usPaterno}}
                            </a>
                        </li>                        
                        <li class="divider"></li>
                        <li><a ng-click="logout();"><i class="fa fa-sign-out fa-fw"></i>Salirr</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
            </ul>
          </div>
        </div>
    
    </nav>
        
    <div ng-controller="authCtrl" data-ng-init="inicioGestionDocumental('set');">        
        <iframe id="sub_dominio" style="display: none;"  src="http://gmlppc0531999:3011/app/inicio.html"></iframe>        
    </div>
        
    </div>
    <foter class="footer">
        <div >
          <div class="col-md-12" >
            <div>
              <div data-ng-view="" id="ng-view" ></div>
            </div>
          </div> 
        </div>
    </foter>

    <script type="text/javascript">
        
        function conMayusculas(field) {
            field.value = field.value.toUpperCase()
        };
        
        function soloNumerico(variable){
            if(variable.indexOf('-') != -1){
                return variable;
            } else {
                Numer=parseInt(variable);
                if (isNaN(Numer)){
                    return "";
                }
                return Numer;
            }
        }
        
        function valNumero(Control){
            Control.value=soloNumerico(Control.value);
        }
        
    </script>

    <!-- Libs -->

    <script src="../../libs/components/jquery/dist/jquery.min.js"></script>
    <!--script src="../../libs/js/jquery-ui.min.js"></script-->
    <script src="../../libs/js/jquery.blockUI.js"></script>
    <script src="../../libs/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../libs/jss/angular.min.js"></script>
    <script src="../../libs/jss/angular-route.min.js"></script>
    <script src="../../libs/jss/angular-animate.min.js" ></script>
    <script src="../../libs/bower-angular-resource-master/angular-resource.js"></script>
    <script src="../../libs/jss/toaster.js"></script> 
    <script src="../../libs/js/ng-table.js"></script>
    <link rel="stylesheet" href="../../libs/css/ng-table.css"/>
    <script src="../../libs/js/angular-moment.js"></script>
    <script src="../../libs/js/moment.js"></script>
    <!--  nuevas librearias adicionales-->
    <link rel="stylesheet" href="../../libs/components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../libs/csss/bootstrap.css" />
    <!-- endbower -->

     <!-- librerias del upload-->
    <script src="../../libs/js/angular-file-upload.js"></script>
    <script src="../../libs/js/angular-file-upload.min.js"></script>
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="../../libs/styles/main.css">
    <link rel="stylesheet" href="../../libs/styles/sb-admin-2.css">
    <link rel="stylesheet" href="../../libs/styles/timeline.css">
    <link rel="stylesheet" href="../../libs/components/metisMenu/dist/metisMenu.min.css">
    <link rel="stylesheet" href="../../libs/components/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="../../libs/components/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../libs/components/font-awesome/css/font-awesome.min.css" type="text/css">
    <!-- endbuild -->
    <!--ngSweetAlert-->    
    
    <link href="../../libs/css/sweetalert.css" rel="stylesheet">
    <!--ngSweetAlert-->
    <script src="../../libs/js/prism.js"></script>
    <script type="text/javascript" src="../../libs/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../libs/js/ngSweetAlert.js"></script>
    <!-- bower:js -->
    <script src="../../libs/components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../../libs/components/json3/lib/json3.min.js"></script>
    <script src="../../libs/components/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script src="../../libs/components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="../../libs/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="../../libs/components/metisMenu/dist/metisMenu.min.js"></script>
    <!-- endbower -->
    <!-- app -->
    <script src="../../controller/autenticacion/app.js"></script>
    <script src="../../controller/log/serviceLogEventos.js"></script>
    <script src="../../controller/autenticacion/data.js"></script>
    <script src="../../controller/autenticacion/directives.js"></script>
    <script src="../../controller/autenticacion/authCtrl.js"></script>
    <script src="../../controller/autenticacion/sessionService.js"></script>
    <script src="../../controller/autenticacion/config.js"></script>
    <!--controladores-->
    <script src="../../controller/administracion/grupos/appGrupos.js"></script>
    <script src="../../controller/administracion/accesos/appAccesos.js"></script>
    <script src="../../controller/administracion/opciones/appOpciones.js"></script>
    <script src="../../controller/administracion/usuarios/appUsuarios.js"></script>
    <script src="../../controller/administracion/personas/appPersonas.js"></script>
    <script src="../../controller/administracion/roles/appRoles.js"></script>
    <script src="../../controller/administracion/usuariosRoles/appUsuariosRoles.js"></script>

    <script src="../../controller/registro_ciudadano/datosCiudadano/appDatosCiudadano.js"></script>
    <script src="../../libs/js/angular-bootstrap-calendar-tpls.min.js"></script>    
    <script src="../../libs/js/calendario.js"></script>    
    <!--API eDocumentos-->
    <script src="../../libs/js/config.js"></script>
    <script src="../../libs/js/api.js"></script>
    <script src="../../libs/js/angular-dreamfactory.js"></script>
    <!-- /////////////////////////////////// arboles /////////////////////////////////// -->
    <link  href="../../libs/treeview/css/angular.treeview.css" rel="stylesheet" type="text/css"> 
    <script src="../../libs/treeview/angular.treeview.js"></script>
    <script src="../../libs/treeview/angular.treeview.min.js"></script>
    <!---controladores satelite-->
    <script src="../../controller/satelite/difunto/difunto.js"></script>
    <script src="../../controller/satelite/cremaciones/cremaciones.js"></script>
    <script src="../../controller/satelite/titular/titular.js"></script>
    <script src="../../controller/satelite/entierro/entierro.js"></script>
    <script src="../../controller/satelite/exhumacion/exhumacion.js"></script>
    <script src="../../controller/satelite/nacionalidad/nacionalidad.js"></script>
    <script src="../../controller/satelite/profesion/profesion.js"></script>
</html>