html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {

    text-decoration: none;
    color: #fff;

}

body {
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 300;
	color: #333;
}
#logo{background:url(logo.png) no-repeat;width:118px; height:43px;display:block;}
#switcher {
	height: 60px;
	background: #fff ;
	z-index: 99999;
	position: fixed;
	width: 100%;
	padding:10px;
    border-bottom: 1px solid #ccc;
}

#theme_select {
    /*background: url(dropdown.png) no-repeat;*/
    margin-top: 4px;
    margin-left: 10px;
    width: 200px;
    display: block;
    padding: 10px 8px;
    color: #FFF;
    font-size: 14px;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    background:url(dropdown-icon.png)no-repeat right center #333;
}

#theme_dropdown_list {

    border-radius: 0 0 10px 10px;
    -moz-border-radius:  0 0 10px 10px;
    -webkit-border-radius:  0 0 10px 10px;
    padding: 20px;

}
.btnBuy {
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
display: inline-block;
border-radius: 4px;
background: #E7573C;
color: #EEE;
padding: 12px 10px 10px 10px;
text-transform: uppercase;
font-size: 14px;
margin-top: 4px;
/*height: 34px;
line-height: 34px;*/
}
.btnBuy:hover {background:#FF5C00; color:#fff;}
.center {

/*margin: auto;
width: 960px;*/
padding: 10px;

}

.center ul li {

    display: inline;
    float: left;
    position: relative;

}

.center ul li ul {

    display: none;
    margin-left: 10px;
    position: absolute;
    width: 220px;
    top:35px;

}

.center ul li ul li {

    background: #333;
    position:relative;

}

.center ul li ul li a {

    display: block;
    padding: 12px 10px;
    min-width: 173px;
    font-size: 14px;
    color: #c9c9c9;
    font-weight: 400;
    float:left;

}

.center ul li ul li a:hover{
    color:white;
}
.center ul li ul li img.type{

    margin:6px 7px 0 0;
}

.center ul li ul li .demo{
    display:none;
    position:absolute;
    top:7px;
    padding:3px;
    background-color: #eee;
    max-height: 300px;
}

.center ul li ul li:first-child {

    padding-top: 3px;

}

.center ul li ul li:last-child {



}

li.purchase {

    margin-left: 20px;
    padding-top: 0px;
    float: right !important;

}

li.purchase a {



}

li.remove_frame {

    float: right !important;
    margin: 14px  10px 10px 10px;


}

li.remove_frame a {
color:#777;
font-size: 14px;
margin-right: 5px;
}
li.remove_frame a:hover {
color:#999;
}
li.remove_frame a span {
    margin-right: 5px;
    font-weight: bold;
}
#iframe {

    margin-top: 80px;

}

@media only screen and (max-width: 600px){

li#theme_list{display:none!important;}
li.remove_frame {float:right!important; font-size: 18px;}
.center ul li.purchase {display:none;}
/*#logo{background:url(logo-icon.png) no-repeat; width:41px;}*/

}
