<div class="col-md-12" class="row" ng-controller="difuntoController" data-ng-init="inicioDifunto()">
 <div class="row"> 
 <div class="panel panel-default">
                  <div class="panel-heading"><center><H5>PROCESO DE INHUMACION(Cuerpo Mayor)</H5></center></div>                    
                   <div class="panel-body"> 
                     <table class="table  table-bordered">
                           <thead>
                              <tr>
                                 <td width="50%"><strong>INFORMACION TITULAR:</strong> {{nombre}}  {{paterno}} {{materno}}</td>
                                 <td width="50%">REQUISITOS: </td>
                              </tr>
                           </thead>
                        </table>
  <!--  <table width="100%">
		<td><h3>Difuntoss</h3></td> 
	</table>-->
    
  <!-- /////////////////////////////////// --->

<div class="panel panel-default">
     <div class="panel-heading"><H5>PROCESO DE INHUMACION(Cuerpo Mayor)</H5></div>
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#difunto" aria-controls="profile" role="tab" data-toggle="tab">Difunto</a></li>
                    <li role="presentation"><a href="#certificado" aria-controls="home" role="tab" data-toggle="tab"  >Certificado de Defuncion</a></li>
                    <li role="presentation"><a href="#ubicacion" aria-controls="profile" role="tab" data-toggle="tab">Ubicacion</a></li>                     
                   <li role="presentation"><a href="#pagos" aria-controls="profile" role="tab" data-toggle="tab" ng-click="getItemRecaudacion()">Pagos</a></li>
                  </ul>
     <div class="tab-content">
               <div role="tabpanel"  class="tab-pane active" id="difunto">
                    <br>
              
                    <form name="formularioDifuntos" readOnly="true" novalidate>
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="url" >Nombre:</label>
                                    <span style="color:red" ng-show="formularioDifuntos.difNom.$invalid">
                                            <span ng-show="formularioDifuntos.difNom.$error.required">Requerido.
                                            </span>
                                        </span>
                                    <div class="controls">
                                        <input  cols="40" rows="5" ng-model="datosDifunto.difNom" id="difNom" name="difNom" class="form-control" type="text" placeholder="ingrese nombres" 
                                        ng-disabled="desabilitado"  onkeyUp="return conMayusculas(this);" required>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="url" >Paterno:</label>
                                    <div class="controls">
                                        <input  ng-model="datosDifunto.difPat" id="difPat" name="difPat" class="form-control" type="text" placeholder="ingrese apellido paterno" 
                                        ng-disabled="desabilitado"  onkeyUp="return conMayusculas(this);" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="url" >Materno:</label>
                                    <div class="controls">
                                        <input  ng-model="datosDifunto.difMat" id="difMat" name="difMat" class="form-control" type="text" placeholder="ingrese apellido materno" 
                                        ng-disabled="desabilitado" onkeyUp="return conMayusculas(this);" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="url" >otro apellido:</label>
                                    <div class="controls">
                                        <input  ng-model="datosDifunto.difOtroApellido" id="difOtroApellido" name="difOtroApellido" class="form-control" type="text" placeholder="ingrese otro apellido " ng-disabled="desabilitado"  onkeyUp="return conMayusculas(this);" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="url" >CI:</label>
                                    <span style="color:red" ng-show="formularioDifuntos.difCi.$invalid">
                                            <span ng-show="formularioDifuntos.difCi.$error.required">Requerido.
                                            </span>
                                        </span>
                                    <div class="controls">
                                        <input  ng-model="datosDifunto.difCi" id="difCi" name="difCi" class="form-control" type="text" placeholder="ingrese ci" ng-disabled="desabilitado" onkeyUp="return valNumero(this);" required>
                                        
                                    </div>
                                </div>
                            </div>
                            <!--inicio de combos!-->
                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="category">nacionalidad</label> 
                                    <span style="color:red" ng-show="formularioDifuntos.nac_id.$invalid">
                                            <span ng-show="formularioDifuntos.nac_id.$error.required">Requerido.
                                            </span>
                                        </span>                                 
                                    <div class="controls">
                                        <select ng-model="datosDifunto.nac_id" id="nac_id" name="nac_id" class="form-control"  ng-required="true">
                                            <option ng-repeat="nacion in nacionalidad" value="{{nacion.fn_nac_id}}">{{nacion.fn_nac_descripcion}}</option>
                                        </select>
                                        
                                    </div>
                                </div>
                            </div>

                             <div class="col-md-3">
                                <div class="from-group">
                                    <label for="category">provincia</label>
                                    <div class="controls">
                                        <select ng-model="datosDifunto.prov_id" id="prov_id" name="prov_id" class="form-control" ng-requiered="true">
                                            <option ng-repeat="provi in provincia" value="{{provi.fn_prov_id}}">{{provi.fn_prov_descripcion}}</option>
                                        </select>
                                        <span style="color:red" ng-show="formularioDifuntos.prov_id.$invalid">
                                            <span ng-show="formularioDifuntos.prov_id.$error.required">provincia es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="from-group">
                                    <label for="category">Localidad</label>
                                    <div class="controls">
                                        <select ng-model="datosDifunto.loc_cod" id="loc_cod" name="loc_cod" class="form-control" ng-requiered="true">
                                            <option ng-repeat="local in localidad" value="{{local.fn_loc_cod}}">{{local.fn_loc_descricion}}</option>
                                        </select>
                                        <span style="color:red" ng-show="formularioDifuntos.loc_cod.$invalid">
                                            <span ng-show="formularioDifuntos.loc_cod.$error.required">localidad es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="category">Ciudad</label>
                                    <div class="controls">
                                        <select id="ciudad" class="form-control" ng-model="datosDifunto.ciudad" ng-disabled="desabilitado">
                                            <option value="LA PAZ">LA PAZ</option>
                                            <option value="EL ALTO">EL ALTO</option>
                                            <option value="PANDO">PANDO</option>
                                            <option value="BENI">BENI</option>
                                            <option value="ORURO">ORURO</option>
                                            <option value="COCHABAMBA">COCHABAMBA</option>
                                            <option value="SANTA CRUZ">SANTA CRUZ</option>
                                            <option values="POTOSI">POTOSI</option>
                                            <option values="SUCRE">SUCRE</option>
                                            <option values="TARIJA">TARIJA</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                             <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="url" >Fecha de Nacimiento:</label>
                                    <span style="color:red" ng-show="formularioDifuntos.fechaNacimiento.$invalid">
                                            <span ng-show="formularioDifuntos.fechaNacimiento.$error.required">Requerido.
                                            </span>
                                        </span>
                                    <div class="controls">
                                        <p class="input-group">
                                            <input name="fechaNacimiento" id="fechaNacimiento" type="text" class="form-control" datepicker-popup="" ng-model="datosDifunto.fechaNacimiento" is-open="startDateOpened"  close-text="Close" ng-disabled="desabilitado" required/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span></p>
                                        
                                    </div>
                                </div>
                            </div>

                            

                             <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="url" >Género:</label>
                                     <span style="color:red" ng-show="formularioDifuntos.difSexo.$invalid">
                                            <span ng-show="formularioDifuntos.difSexo.$error.required">Requerido.
                                            </span>
                                        </span>
                                    <div class="controls" >
                                        <input type="radio" ng-model="datosDifunto.difSexo" name="difSexo" value="M" ng-change="" ng-disabled="desabilitado" ng-required="true">Masculino&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="radio" ng-model="datosDifunto.difSexo" name="difSexo" value="F" ng-change="" ng-disabled="desabilitado" ng-required="true">Femenino<br>
                                       
                                        
                                    </div>
                                </div>
                            </div>
                          
                           
                             <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="category">Estado civil</label>
                                    <div class="controls">
                                        <select id="difEstCivil" class="form-control" ng-model="datosDifunto.difEstCivil" ng-disabled="desabilitado">
                                            <option value="SOLTERO(A)">SOLTERO(A)</option>
                                            <option value="CASADO(A)">CASADO(A)</option>
                                            <option value="DIVORCIADO(A)">DIVORCIADO(A)</option>
                                            <option value="VIUDO(A)">VIUDO(A)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                              <div class="col-md-3">
                                <div class="from-group">
                                    <label for="category">Profesion</label>
                                    <span style="color:red" ng-show="formularioDifuntos.difprofesion.$invalid">
                                            <span ng-show="formularioDifuntos.difprofesion.$error.required">Requerido.
                                            </span>
                                        </span>
                                    <div class="controls">
                                        <select ng-model="datosDifunto.difprofesion" id="difprofesion" name="difprofesion" class="form-control" ng-requiered="true">
                                            <option ng-repeat="prof in profesion" value="{{prof.fn_prof_id}}">{{prof.fn_prof_descripcion}}</option>
                                        </select>
                                        
                                    </div>
                                </div>
                            </div>

                             <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="url" >observacion:</label>
                                    <div class="controls">
                                        <input  ng-model="datosDifunto.difObservacion" id="difObservacion" name="difObservacion" class="form-control" type="text" placeholder="ingrese observacion" ng-disabled="desabilitado"  onkeyUp="return conMayusculas(this);" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="url" >Fecha de defuncion</label>
                                    <span style="color:red" ng-show="formularioDifuntos.difGestion.$invalid">
                                            <span ng-show="formularioDifuntos.difGestion.$error.required">Requerido.
                                            </span>
                                        </span>
                                    <div class="controls">
                                        <p class="input-group">
                                            <input name="difGestion" id="difGestion" type="text" class="form-control" datepicker-popup="" ng-model="datosDifunto.difGestion" is-open="startDateOpened1 " ng-required="true" close-text="Close" ng-disabled="desabilitado"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="startDateOpen1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span></p>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="url" >edad:</label>
                                    <span style="color:red" ng-show="formularioDifuntos.difEdad.$invalid">
                                            <span ng-show="formularioDifuntos.difEdad.$error.required">Requerido.
                                            </span>
                                        </span>
                                    <div class="controls">
                                        <input  ng-model="datosDifunto.difEdad" id="difEdad" name="difEdad" class="form-control" type="text" placeholder="ingrese edad" ng-disabled="desabilitado" onkeyUp="return valNumero(this);" required>
                                        
                                    </div>
                                </div>
                            </div>    
				        </div>
                    </form>
                       <button ng-click="adicionarDifunto(datosDifunto)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='new'" ng-hide="boton=='upd' || boton=='del'" ng-disabled="formularioDifuntos.$invalid">Grabar Registro</button>
					  <button ng-click="modificarDifunto(datosDifunto)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='upd'" ng-hide="boton=='new' || boton=='del'" ng-disabled="formularioDifuntos.$invalid">Modificar Registro</button>

                </div>
           
       <!--////////////////////////////////////////////////////////////////////////
       ///////////////////////////////////////////////////////////-->   
         <div role="tabpanel"  class="tab-pane" id="certificado">
                        <br>
              <form name="formularioCertificados" readOnly="true" novalidate>
               <div class="col-md-12">
           			<div class="form-group" >
                        <label for="url" >Oficial de Registro Civil</label> <span style="color:red" ng-show="formularioCertificados.rt_oficialregciv.$invalid">
                                <span ng-show="formularioCertificados.rt_oficialregciv.$error.required">Requerido.</span>
                            </span>
                        <div class="controls">
                            <input  cols="40" rows="5" ng-model="datosCertificado.rt_oficialregciv" id="rt_oficialregciv" name="rt_oficialregciv" class="form-control" type="text" placeholder="Ingrese nombres del oficial de registro civil" 
                            ng-disabled="desabilitado"  onkeyUp="return conMayusculas(this);" required>
                           
                        </div>
                    </div>
                 </div>
     

                <div class="col-md-3">
                    <div class="form-group" >
                        <label for="url" >Fecha de Registro</label>
                        <div class="controls">
                            <p class="input-group">
                                <input name="rt_fchareg" id="rt_fchareg" type="text" class="form-control" datepicker-popup="" ng-model="datosCertificado.rt_fchareg" is-open="startDateOpened"  close-text="Close" ng-disabled="desabilitado" required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span></p>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group" >
                        <label for="url" >Oficialia No.</label> <span style="color:red" ng-show="formularioCertificados.rt_nroregciv.$invalid">
                                <span ng-show="formularioCertificados.rt_nroregciv.$error.required">Requerido.
                                </span>
                            </span>
                        <div class="controls">
                            <input ng-model="datosCertificado.rt_nroregciv" id="rt_nroregciv" name="rt_nroregciv" class="form-control" type="text" placeholder="Ingrese Nro. de Oficilia" 
                            ng-disabled="desabilitado"  onkeyUp="return conMayusculas(this);" required>
                           
                        </div>

                    </div>
                </div>

                <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="url" >Libro No.</label><span style="color:red" ng-show="formularioCertificados.rt_libro.$invalid">
                                            <span ng-show="formularioCertificados.rt_libro.$error.required">Requerido.
                                            </span>
                                        </span>
                                    <div class="controls">
                                        <input  cols="40" rows="5" ng-model="datosCertificado.rt_libro" id="rt_libro" name="rt_libro" class="form-control" type="text" placeholder="Ingrese nombres del oficial de registro civil" 
                                        ng-disabled="desabilitado"  onkeyUp="return conMayusculas(this);" required>
                                        
                                    </div>
                                </div>
                            </div>

                <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="url" >Partida No.</label> 
                                          <span style="color:red" ng-show="formularioCertificados.rt_partida.$invalid">
                                            <span ng-show="formularioCertificados.rt_partida.$error.required">Requerido. </span>
                                          </span>
                                     <div class="controls">
                                        <input  cols="40" rows="5" ng-model="datosCertificado.rt_partida" id="rt_partida" name="rt_partida" class="form-control" type="text" placeholder="Ingrese Nro. de partida" 
                                        ng-disabled="desabilitado"  onkeyUp="return conMayusculas(this);" required>
                                      </div>
                                </div>
                            </div>

                <div class="col-md-4">
                                <div class="form-group" >
                                    <label for="url" >Folio No.</label> <span style="color:red" ng-show="formularioCertificados.rt_folio.$invalid">
                                            <span ng-show="formularioCertificados.rt_folio.$error.required">Requerido.
                                            </span>
                                        </span>
                                    <div class="controls">
                                        <input  cols="40" rows="5" ng-model="datosCertificado.rt_folio" id="rt_folio" name="rt_folio" class="form-control" type="text" placeholder="Ingrese Nro. de folio" 
                                        ng-disabled="desabilitado"  onkeyUp="return conMayusculas(this);" required>
                                       
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-4">
                                <div class="from-group">
                                    <label for="category">Fecha del Deceso</label><span style="color:red" ng-show="formularioCertificados.rt_fecfallecimiento.$invalid">
                                            <span ng-show="formularioCertificados.rt_fecfallecimiento.$error.required">Requerido.
                                            </span>
                                        </span>
                                    <div class="controls">
                                        <p class="input-group">
                                            <input name="rt_fecfallecimiento" id="rt_fecfallecimiento" type="text" class="form-control" datepicker-popup="" ng-model="datosCertificado.rt_fecfallecimiento" is-open="startDateOpened1"  close-text="Close" ng-disabled="desabilitado" required/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="startDateOpen1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span></p>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="from-group">
                                    <label for="category">Hora del Deceso</label> <span style="color:red" ng-show="formularioCertificados.rt_hrafallecimiento.$invalid">
                                            <span ng-show="formularioCertificados.rt_hrafallecimiento.$error.required">Requerido.
                                            </span>
                                        </span>
                                    <div class="controls">
                                        <input  cols="40" rows="5" ng-model="datosCertificado.rt_hrafallecimiento" id="rt_hrafallecimiento" name="rt_hrafallecimiento" class="form-control" type="text" placeholder="Ingrese 00:00" 
                                        ng-disabled="desabilitado"  onkeyUp="return conMayusculas(this);" required>
                                       
                                    </div>
                                </div>
                            </div>

 
                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="category">Pais - Ciudad</label>
                                       <span style="color:red" ng-show="formularioCertificado.rt_ciudadfalle.$invalid">
                                            <span ng-show="formularioCertificados.rt_ciudadfalle.$error.required">Requerido.</span>
                                        </span>
                                    <div class="controls">
                                        <select id="rt_ciudadfalle" class="form-control" ng-model="datosCertificado.rt_ciudadfalle" ng-disabled="desabilitado" required>
                                           
                                            <option value="LA PAZ">LA PAZ</option>
                                            <option value="EL ALTO">EL ALTO</option>
                                        </select>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="category">Departamento</label>
                                    <span style="color:red" ng-show="formularioCertificado.rt_deptofalle.$invalid">
                                            <span ng-show="formularioCertificados.rt_deptofalle.$error.required">Requerido.
                                            </span>
                                        </span>
                                    <div class="controls">
                                        <select id="rt_deptofalle" class="form-control" ng-model="datosCertificado.rt_deptofalle" ng-disabled="desabilitado" required>
                                            <option value="LA PAZ">LA PAZ</option>
                                            <option value="PANDO">PANDO</option>
                                            <option value="BENI">BENI</option>
                                            <option value="ORURO">ORURO</option>
                                            <option value="COCHABAMBA">COCHABAMBA</option>
                                            <option value="SANTA CRUZ">SANTA CRUZ</option>
                                            <option value="POTOSI">POTOSI</option>
                                            <option value="SUCRE">SUCRE</option>
                                            <option value="TARIJA">TARIJA</option>
                                        </select>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="category">Provincia</label>
                                    <span style="color:red" ng-show="formularioCertificados.rt_provid.$invalid">
                                            <span ng-show="formularioCertificados.rt_provid.$error.required">Requerido.
                                            </span>
                                        </span>
                                    <div class="controls">
                                        <select ng-model="datosCertificado.rt_provid" id="rt_provid" name="rt_provid" class="form-control" required>
                                            <option ng-repeat="provi in provincia" value="{{provi.fn_prov_id}}">{{provi.fn_prov_descripcion}}</option>
                                        </select>
                                        
                                    </div>
                                </div>
                            </div>
 
                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="category">Localidad</label>
                                     <span style="color:red" ng-show="formularioCertificados.rt_loccod.$invalid">
                                            <span ng-show="formularioCertificados.rt_loccod.$error.required">Requerido.
                                            </span>
                                        </span>
                                    <div class="controls">
                                        <select ng-model="datosCertificado.rt_loccod" id="rt_loccod" name="rt_loccod" class="form-control" required>
                                            <option ng-repeat="local in localidad" value="{{local.fn_loc_cod}}">{{local.fn_loc_descricion}}</option>
                                        </select>
                                       
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >Medico Forense</label>
                                     <span style="color:red" ng-show="formularioCertificados.rt_medicodefun.$invalid">
                                            <span ng-show="formularioCertificados.rt_medicodefun.$error.required">Requerido.
                                            </span>
                                        </span>
                                    <div class="controls">
                                        <input  cols="40" rows="5" ng-model="datosCertificado.rt_medicodefun" id="rt_medicodefun" name="rt_medicodefun" class="form-control" type="text" placeholder="Ingrese nombres del oficial de registro civil" 
                                        ng-disabled="desabilitado"  onkeyUp="return conMayusculas(this);" required>
                                       
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >Causa del Deceso:</label>
                                     <span style="color:red" ng-show="formularioCertificados.rt_codcm.$invalid">
                                            <span ng-show="formularioCertificados.rt_codcm.$error.required">Requerido.</span>
                                        </span>
                                     <div class="controls">
                                        <select ng-model="datosCertificado.rt_codcm" id="rt_codcm" name="rt_codcm" class="form-control"  ng-required="true">
                                            <option ng-repeat="c_muerte in muerte" value="{{c_muerte.rt_codcm}}">{{c_muerte.rt_descripcioncm}}</option>
                                        </select>
                                       
                                      </div>
                                </div>
                            </div>
                               
                       
                    </form>
              
                  <div class="col-md-12">
                    <button ng-click="adicionarCertificado(datosCertificado)" type="button" class="btn btn-primary" ng-show="boton_cert=='new'" ng-hide="boton_cert=='upd' || boton_cert=='del'" ng-disabled="formularioCertificados.$invalid">Grabar Registro</button>
					<button ng-click="modificarCertificado(datosCertificado)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton_cert=='upd'" ng-hide="boton==_cert'new' || boton_cert=='del'" ng-disabled="formularioCertificados.$invalid">Modificar Registro</button>
					
                 </div>
            </div>
       
    
       
         <div role="tabpanel"  class="tab-pane" id="ubicacion">
                        <br>
                        <div class="tree">
                            <ul>
                                <li>informacion</li>
                               
                            </ul>
                        </div>
       </div>
             <div role="tabpanel"  class="tab-pane" id="pagos">
                            <br>
                            <table  class="table table-bordered">
                                  <tr>
                                    <td><strong>C.I. o N.I.T.</strong></td>
                                    <td colspan="3"><strong>NOMBRE DEL CONTRIBUYENTE O RAZON SOCIAL</strong></td>
                                  </tr>
                                  <tr>
                                    <td>{{carnet}}</td>
                                    <td colspan="3">{{nombre}} {{paterno}}  {{materno}}</td>
                                  </tr>
                                  <tr>
                                    <td rowspan="2"><strong>CERTIFICADO: {{datosCertificado.rt_folio}}</strong></td>
                                    <td><strong>AVENIDA O CALLE</strong></td>
                                    <td><strong>NRO</strong></td>
                                    <td><strong>ZONA</strong></td>
                                  </tr>
                                  <tr>
                                    <td>{{avenida}}</td>
                                    <td>{{nro}}</td>
                                    <td>{{zona}}</td>
                                  </tr>
                                  <tr>
                                    <td colspan="4"><strong>ACTIVIDAD:</strong> {{descripcion_item}}</td>
                                  </tr>
                                  <tr>
                                    <td><strong>CODIGO</strong></td>
                                    <td colspan="2" align="center"><strong>DESCRIPCION</strong></td>
                                    <td><strong>IMPORTE</strong></td>
                                  </tr>
                                  <tr>
                                    <td>{{codigo_item}}</td>
                                    <td colspan="2">
                                    <div class="col-md-3"> <strong>Difunto: </strong></div>
                                    <div class="col-md-9"> {{datosDifunto.difNom}}   {{datosDifunto.difPat}} {{datosDifunto.difMat}}       </div>
                                    <div class="col-md-3"> <strong>Sexo: </strong></div>
                                    <div class="col-md-9"> {{datosDifunto.difSexo}}         </div>
                                    <div class="col-md-3"> <strong>Edad: </strong></div>
                                    <div class="col-md-9"> {{datosDifunto.difEdad}}         </div>
                                    <div class="col-md-3"> <strong>Estado Civil: </strong></div>
                                    <div class="col-md-9"> {{datosDifunto.difEstCivil}}         </div>
                                    <div class="col-md-3"> <strong>Profesion: </strong></div>
                                    <div class="col-md-9"> {{datosDifunto.difprofesion}}         </div>
                                    <div class="col-md-3"> <strong>Diagnostico: </strong></div>
                                    <div class="col-md-9"> {{datosCertificado.rt_codcm}}         </div>
                                    <div class="col-md-3"> <strong>Medico: </strong></div>
                                    <div class="col-md-9">   {{datosCertificado.rt_medicodefun}}       </div>
                                    <div class="col-md-3"> <strong>Registro Civil: </strong></div>
                                    <div class="col-md-9"> {{datosCertificado.rt_nroregciv}}        </div>
                                    <div class="col-md-3"> <strong>Fecha de Entierro: </strong></div>
                                    <div class="col-md-9"> {{datosCertificado.rt_fecfallecimiento}}        </div>
                                    <div class="col-md-3"> <strong>Nacionalidad: </strong></div>
                                    <div class="col-md-9">        </div>
                                    </td>
                                    <td>{{importe}}</td>
                                  </tr>
                                  <tr>
                                    <td colspan="2"><strong>SON</strong></td>
                                    <td><strong>IMPORTE A PAGAR</strong></td>
                                    <td>&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td><strong>FUNCIONARIO</strong></td>
                                    <td colspan="3"><strong>OBSERVACIONES:</strong></td>
                                  </tr>
                                  <tr>
                                    <td><strong>CAJERO</strong></td>
                                    <td><strong>VERIFICADOR</strong></td>
                                    <td colspan="2"><strong>PAGO REALIZADO EN:</strong></td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                  </tr>
                                </table>
         </div>      
    </div>
 </div>
  
    <!-- /////////////////////////////////// --->
	<br/>
	
    <!--!modal!-->
 <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
                </div>
                
                <div class="modal-footer">
                    <button id="demo2" type="button" class="btn btn-default" data-dismiss="modal">Cerrar </button>

                 
                    <button ng-click="eliminarDifunto(datosDifunto.rt_dif_codifun)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='del'" ng-hide="boton=='new' || boton=='upd'">Eliminar</button>
                </div>
            </div>
        </div>
    </div>




    
</div>