<div class="col-md-12" class="row" ng-controller="titularController" data-ng-init="inicioTitular()">
    <table width="100%">
        <td><h3>Titular</h3></td> 
    </table>
    <br/>
    <div class="row"> 
        <table ng-table="tablaTitular"  show-filter="true" class="table table-striped table-bordered">
            <tr ng-repeat="titular in $data">
                <a class="btn btn-primary"  ng-click="crearTitular()" data-toggle="modal" data-target="#registro">
                <i class="glyphicon glyphicon-plus-sign"></i> Nuevo Titular</a>
                <td align="center" data-title="'Opciones'">
                	
                    <a ng-click="modificarTitularCargar(titular)" class="btn btn-default btn-circle" data-toggle="modal" data-target="#registro"><i class="fa fa-pencil" style="color:#249FE6"></i></a>
                    <a  class="btn btn-default btn-circle" data-toggle="modal" data-target="#registro"><i class="fa fa-trash-o" style="color:#249FE6"></i></a>
                 </td>
                <td data-title="'C.I.'" sortable="'tit_ci_t'" filter="{'tit_ci_t':'text'}">{{titular.tit_ci_t}}</td>
                <td data-title="'Nombre Completo'" sortable="'tit_nombre_t'" filter="{'tit_nombre_t':'text'}">{{titular.tit_nombre_t}}</td>
                <td data-title="'Apellido Paterno'" sortable="'tit_ap_pat_t'" filter="{'tit_ap_pat_t':'text'}">{{titular.tit_ap_pat_t}}</td>
                <td data-title="'Apellido Materno'" sortable="'tit_mat_t'" filter="{'tit_mat_t':'text'}">{{titular.tit_mat_t}}</td>
                <td  align="center" data-title="'PROCESO'" >
                <div class="dropdown">
                  <button class="btn btn-danger btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Seleccion
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a ng-click="inhumacionMayor(titular)">Inhumacion Mayor</a></li>
                    <li><a ng-click="inhumacionMenor(titular)">Inhumacion Menor</a></li>
                    <li><a ng-click="exhumacion(titular)">Exhumacion</a></li>
                    <li><a ng-click="reubicacion(titular)">Reubicacion</a></li>
                    <li><a ng-click="renovacion(titular)">Renovacion</a></li>
                    <li><a ng-click="translado(titular)">Translado</a></li>
                     <li><a ng-click="obito(titular)">Obito</a></li>
                     <li><a ng-click="autorizacion(titular)">Autorizacion de Construccion</a></li>
                  </ul>
                </div>
                </td>
                
            </tr>
        </table>
    </div>
    <!--!modal!-->
 <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{titulo}} - {{boton}}</h4>
                </div>
                <div class="modal-body" >
                    <form name="formularioTitulares" readOnly="true" novalidate>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group" >
                                    <label for="url" >Nombre:
                                        </span></label>
                                    <div class="controls">
                                        <input   ng-model="datosTitular.tit_nombre_t" id="tit_nombre_t" name="tit_nombre_t" class="form-control" type="text" placeholder="ingrese nombres" 
                                        ng-disabled="desabilitado"  onkeyUp="return conMayusculas(this);" required>
                                        <span style="color:red" ng-show="formularioTitulares.tit_nombre_t.$invalid">
                                            <span ng-show="formularioTitulares.tit_nombre_t.$error.required">Nombre es requerido.
                                            </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group" >
                                    <label for="url" >Paterno:</label>
                                    <div class="controls">
                                        <input  ng-model="datosTitular.tit_ap_pat_t" id="tit_ap_pat_t" name="tit_ap_pat_t" class="form-control" type="text" placeholder="ingrese apellido paterno" 
                                        ng-disabled="desabilitado"  onkeyUp="return conMayusculas(this);" required>
      	                               </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group" >
                                    <label for="url" >Materno:</label>
                                    <div class="controls">
                                        <input  ng-model="datosTitular.tit_mat_t" id="tit_mat_t" name="tit_mat_t" class="form-control" type="text" placeholder="ingrese apellido materno" 
                                        ng-disabled="desabilitado" onkeyUp="return conMayusculas(this);" required>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >otro apellido:</label>
                                    <div class="controls">
                                        <input  ng-model="datosTitular.tit_otro_ap_t" id="tit_otro_ap_t" name="tit_otro_ap_t" class="form-control" type="text" placeholder="ingrese otro apellido " ng-disabled="desabilitado"   required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >CI:</label>
                                    <div class="controls">
                                        <input  ng-model="datosTitular.tit_ci_t" id="tit_ci_t" name="tit_ci_t" class="form-control" type="text" placeholder="ingrese ci" ng-disabled="desabilitado" onkeyUp="return valNumero(this);" required>
                                         <span style="color:red" ng-show="formularioTitulares.titCi.$invalid">
                                            <span ng-show="formularioTitulares.titCi.$error.required">Nro de Carnet es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                         
                           

							<div class="col-md-6">
                                <div class="from-group">
                                    <label for="category">Telefono</label>
                                    <div class="controls">
                                        <input  ng-model="datosTitular.tit_tel_t" id="tit_tel_t" name="tit_tel_t" class="form-control" type="text" placeholder="ingrese Telefono " ng-disabled="desabilitado"  required>
                                    </div>
                                </div>
                            </div>
                            
                             <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="category">Casilla</label>                                  
                                     <div class="controls">
                                        <input  ng-model="datosTitular.tit_cas_t" id="tit_cas_t" name="tit_cas_t" class="form-control" type="text" placeholder="ingrese casilla " ng-disabled="desabilitado"  required>
                                    </div>
                                </div>
                            </div>
                            
                             <div class="col-md-6">
                                <div class="from-group">
                                    <label for="category">Fax</label>
                                    <div class="controls">
                                        <input  ng-model="datosTitular.tit_fax_t" id="tit_fax_t" name="tit_fax_t" class="form-control" type="text" placeholder="ingrese Fax " ng-disabled="desabilitado"  required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="from-group">
                                    <label for="category">Email</label>
                                     <div class="controls">
                                        <input  ng-model="datosTitular.tit_email_t" id="tit_email_t" name="tit_email_t" class="form-control" type="text" placeholder="ingrese Email " ng-disabled="desabilitado"  required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="category">Ciudad</label>
                                    <div class="controls">
                                        <select id="tit_ciciu_t" name="tit_ciciu_t" class="form-control" ng-model="datosTitular.tit_ciciu_t" ng-disabled="desabilitado">
                                            <option value="LA PAZ">LA PAZ</option>
                                            <option value="EL ALTO">EL ALTO</option>
                                            <option value="PANDO">PANDO</option>
                                            <option value="BENI">BENI</option>
                                            <option value="ORURO">ORURO</option>
                                            <option value="COCHABAMBA">COCHABAMBA</option>
                                            <option value="SANTA CRUZ">SANTA CRUZ</option>
                                            <option values="POTOSI">POTOSI</option>
                                            <option values="SUCRE">SUCRE</option>
                                            <option values="TARIJA">TARIJA</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                             <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >Fecha de Nacimiento:</label>
                                    <div class="controls">
                                        <p class="input-group">
                                            <input name="tit_fchnac_t" id="tit_fchnac_t" type="text" class="form-control" datepicker-popup="" ng-model="datosTitular.tit_fchnac_t" is-open="startDateOpened"  close-text="Close" ng-disabled="desabilitado" required/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span></p>
                                         <span style="color:red" ng-show="formularioTitulares.tit_fchnac_t.$invalid">
                                            <span ng-show="formularioTitulares.tit_fchnac_t.$error.required"> requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="from-group">
                                    <label for="category">Calle o Avenida</label>
                                     <div class="controls">
                                        <input  ng-model="datosTitular.tit_via_t" id="tit_via_t" name="tit_via_t" class="form-control" type="text" placeholder="ingrese la calle o avenida " ng-disabled="desabilitado"  required>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="from-group">
                                    <label for="category">Nro de Casa</label>
                                    <div class="controls">
                                        <input  ng-model="datosTitular.tit_vianum_t" id="tit_vianum_t" name="tit_vianum_t" class="form-control" type="text" placeholder="ingrese Nro de Domicilio " ng-disabled="desabilitado"  required>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="from-group">
                                    <label for="category">Zona</label>
                                    <div class="controls">
                                        <input  ng-model="datosTitular.tit_zona_t" id="tit_zona_t" name="tit_zona_t" class="form-control" type="text" placeholder="ingrese la Zona " ng-disabled="desabilitado"  required>
                                    </div>
                                </div>
                            </div>
                            
                          
                             <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >Género:</label>
                                    <div class="controls" >
                                        <input type="radio" ng-model="datosTitular.tit_sexo_t" name="tit_sexo_t" value="M" ng-change="" ng-disabled="desabilitado" ng-required="true">Masculino&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="radio" ng-model="datosTitular.tit_sexo_t" name="tit_sexo_t" value="F" ng-change="" ng-disabled="desabilitado" ng-required="true">Femenino<br>
                                         <span style="color:red" ng-show="formularioTitulares.tit_sexo_t.$invalid">
                                            <span ng-show="formularioTitulares.tit_sexo_t.$error.required"> requerido.
                                            </span>
                                        </span>
                                        
                                    </div>
                                </div>
                            </div>
                          
                           
                             <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="category">Estado civil</label>
                                    <div class="controls">
                                        <select id="tit_civ_t" class="form-control" ng-model="datosTitular.tit_civ_t" ng-disabled="desabilitado">
                                            <option value="SOLTERO(A)">SOLTERO(A)</option>
                                            <option value="CASADO(A)">CASADO(A)</option>
                                            <option value="DIVORCIADO(A)">DIVORCIADO(A)</option>
                                            <option value="VIUDO(A)">VIUDO(A)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="category">nacionalidad {{datosTitular.tit_nac_t}}: </label>                                  
                                    <div class="controls">
                                   
                                        <select ng-model="datosTitular.tit_nac_t" id="tit_nac_t" name="tit_nac_t" class="form-control"  ng-required="true">
                                            <option ng-repeat="nacion in nacionalidad" value="{{nacion.fn_nac_id}}">{{nacion.fn_nac_descripcion}}</option>
                                        </select>
                                        <span style="color:red" ng-show="formularioTitulares.tit_nac_t.$invalid">
                                            <span ng-show="formularioTitulares.tit_nac_t.$error.required"> requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                              <div class="col-md-6">
                                <div class="from-group">
                                    <label for="category">Representante Legal</label>
                                     <div class="controls">
                                        <input  ng-model="datosTitular.tit_rep_legal_t" id="tit_rep_legal_t" name="tit_rep_legal_t" class="form-control" type="text" placeholder="ingrese Representante Legal " ng-disabled="desabilitado"  required>
                                    </div>
                                </div>
                            </div>

                             <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >Registro de libreta Militar:</label>
                                    <div class="controls">
                                        <input  ng-model="datosTitular.tit_lib_t" id="tit_lib_t" name="tit_lib_t" class="form-control" type="text" placeholder="ingrese Registro" ng-disabled="desabilitado"  onkeyUp="return conMayusculas(this);" required>
                                    </div>
                                </div>
                            </div>
                           
           
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="demo2" type="button" class="btn btn-default" data-dismiss="modal">Cerrar </button>

                    <button ng-click="adicionarTitular(datosTitular)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='new'" ng-hide="boton=='upd' || boton=='del'" ng-disabled="formularioTitulares.$invalid">Guardar</button>

                    <button ng-click="modificarTitular(datosTitular.tit_codtit_t, datosTitular)"  data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='upd'" ng-hide="boton=='new' || boton=='del'" ng-disabled="formularioTitulares.$invalid">Modificar</button>

                    <button  data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='del'" ng-hide="boton=='new' || boton=='upd'">Eliminar</button>
                </div>
            </div>
        </div>
    </div>




    
</div>