<div class="col-md-12" class="row" ng-controller="cremacionesController" data-ng-init="inicioCremaciones()">
    <table width="100%">
        <td><h3>CREMACIONES</h3></td> 
    </table>
    <br/>
    <div class="row"> 
        <table ng-table="tablaDifunto"  show-filter="true" class="table table-striped table-bordered">
            <tr ng-repeat="difunto in $data" ng-class="{'colorInactivo': persona.prsEstado == 'INACTIVO'}">
                <a class="btn btn-primary" ng-click="crearDifunto()" data-toggle="modal" data-target="#registro">
                <i class="glyphicon glyphicon-plus-sign"></i> NUEVA CREMACION</a>
                <td align="center" data-title="'Opciones'">
                    <a ng-click="modificarDifunto(difunto.rt_dif_codifun);" class="btn btn-default btn-circle" data-toggle="modal" data-target="#paneltipo"><i class="fa fa-pencil" style="color:#249FE6"></i></a>
                    <a ng-click="eliminarPersonaCargar(persona)" class="btn btn-default btn-circle" data-toggle="modal" data-target="#registro"><i class="fa fa-trash-o" style="color:#249FE6"></i></a>
                </td>
                <td data-title="'Nombre Completo'" sortable="'rtnombre'" filter="{'rtnombre':'text'}">{{difunto.rt_dif_codifun}}</td>
                <td data-title="'Nombre Completo'" sortable="'rtnombre'" filter="{'rtnombre':'text'}">{{difunto.rtnombre}}</td>
                <td data-title="'C.I.'" sortable="'rtci'" filter="{'rtci':'text'}">{{difunto.rtci}}</td>
                <td data-title="'Apellido Paterno'" sortable="'rtappat'" filter="{'rtappat':'text'}">{{difunto.rtappat}}</td>
                <td data-title="'Apellido Materno'" sortable="'rtapmat'" filter="{'rtapmat':'text'}">{{difunto.rtapmat}}</td>
                
            </tr>
        </table>
    </div>
   <!-- MODAL radio-->
  <div class="modal fade" id="paneltipo" tabindex="-1" role="dialogo" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
            </div>
            <div class="modal-body">
                <form name="tipopersona" readOnly="true" novalidate >

                     <div class="form-group" >
                        <label for="url" >tipo persona:</label>
                          <div class="controls" >
                            <input type="radio" name="tipopersona" value="N" ng-change="" ng-disabled="desabilitado" ng-click = "tipopersona('N');" data-target="#naturales">
                            Natural&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   

                               <input type="radio"  name="tipopersona" value="J" ng-change="" ng-disabled="desabilitado"  ng-click = "tipopersona('J')" data-target="#naturales">Juridico<br>
                                <span style="color:red" ng-show="formulariotipopersona.tit_codtit_tipopersona.$invalid">
                                  <span ng-show="formulariotipopersona.tit_codtit_tipopersona.$error.required">tipo persona es requerido.
                                  </span>
                                </span>
                                        
                          </div>
                      </div>
                </form>
            </div>
        </div>
    </div> 

 </div>
  <!-- MODAL PERSONA NATURAL-->
  <div  class="modal fade" id="naturales" tabindex="-1" role="dialogo" aria-labelledby="myModalLabel" aria-hidden="true">
   <!-- <div class="modal-dialog">
       <div class="modal-content">
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
            </div>-->

             <table ng-table="tablaCremaciones"  show-filter="true" class="table table-striped table-bordered">
            <tr ng-repeat="difunto in $data" ng-class="{'colorInactivo': persona.prsEstado == 'INACTIVO'}">
                <a class="btn btn-primary" ng-click="crearDifunto()" data-toggle="modal" data-target="#registro">
                <i class="glyphicon glyphicon-plus-sign"></i> Personas Naturales</a>
                <td align="center" data-title="'Opciones'">
                    <a ng-click="modificarDifunto(difunto.rt_dif_codifun);" class="btn btn-default btn-circle" data-toggle="modal" data-target="#paneltipo"><i class="fa fa-pencil" style="color:#249FE6"></i></a>
                    <a ng-click="eliminarPersonaCargar(persona)" class="btn btn-default btn-circle" data-toggle="modal" data-target="#registro"><i class="fa fa-trash-o" style="color:#249FE6"></i></a>
                </td>
                <td data-title="'C.I.'" sortable="'rt_tit_ci'" filter="{'rt_titci':'text'}">{{persona.rt_tit_ci}}</td>
                <td data-title="'Nombre Completo'" sortable="'rt_tit_nom'" filter="{'rt_tit_nom':'text'}">{{difunto.rt_tit_nom}}</td>                
                <td data-title="'Apellido Paterno'" sortable="'rt_tit_ap_pat'" filter="{'rt_tit_ap_pat':'text'}">{{difunto.rt_tit_ap_pat}}</td>
                <td data-title="'Apellido Materno'" sortable="'rt_tit_nom'" filter="{'rt_tit_nom':'text'}">{{difunto.rt_tit_nom}}</td>
                
            </tr>
        </table>
    </div>
  <!-- MODAL PERSONA JURIDICA -->
  <div calss="modal fade" id="juridico" tabindex="-1" role="dialogo" aria-labelledby="myModaLabel" aria-hidden="true">
    <div class="modal-dialog">
       <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Cerrar</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
        </div>
        <!--comiensa los campos-->
         <div class="modal-body">
                <form name="TipoPersonaJuridica" readOnly="true" novalidate>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="from-group">
                          <label for="Empresa">Empresa:</label>
                          <div class="controls">
                            <input cols="40" rows="5" ng-model="datospersona.rt_tit_empresa" id="rt_tit_empresa" name="rt_tit_empresa" class="form-control" type="text" ng-disabled="desabilitado" required>
                            <span style="color:red" ng-show="formularioTipoPersonaJuridica.rt_tit_empresa.$invalid"> </span>
                         </div>
                         </div> 
                       </div> 
                    </div>                          
                </form>
          </div>

           <div class="modal-body">
                <form name="TipoPersonaJuridica" readOnly="true" novalidate>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="from-group">
                          <label for="NIT">NIT:</label>
                          <div class="controls">
                            <input cols="40" rows="5" ng-model="datospersona.rt_tit_nit" id="tit_nit" name="rt_tit_nit" class="form-control" type="text" ng-disabled="desabilitado" required>
                            <span style="color:red" ng-show="formularioTipoPersonaJuridica.tit_nit.$invalid"> </span>
                         </div>
                         </div> 
                       </div> 
                    </div>                          
                </form>
          </div>

          <div class="modal-body">
                <form name="TipoPersonaJuridica" readOnly="true" novalidate>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="from-group">
                          <label for="Carnet de Identidad">Carnet de Identidad:</label>
                          <div class="controls">
                            <input cols="40" rows="5" ng-model="datospersona.rt_tit_ci" id="rt_tit_ci" name="rt_tit_ci" class="form-control" type="text" ng-disabled="desabilitado" required>
                            <span style="color:red" ng-show="formularioTipoPersonaJuridica.rt_tit_ci.$invalid"> </span>
                         </div>
                         </div> 
                       </div> 
                    </div>                          
                </form>
          </div>

          <div class="modal-body">
                <form name="TipoPersonaJuridica" readOnly="true" novalidate>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="from-group">
                          <label for="Nombre">Nombre:</label>
                          <div class="controls">
                            <input cols="40" rows="5" ng-model="datospersona.rt_tit_nom" id="rt_tit_nom" name="rt_tit_nom" class="form-control" type="text" ng-disabled="desabilitado" required>
                            <span style="color:red" ng-show="formularioTipoPersonaJuridica.rt_tit_nom.$invalid"> </span>
                         </div>
                         </div> 
                       </div> 
                    </div>                          
                </form>
          </div>

          <div class="modal-body">
                <form name="TipoPersonaJuridica" readOnly="true" novalidate>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="from-group">
                          <label for="Apellido Paterno">Apellido Paterno:</label>
                          <div class="controls">
                            <input cols="40" rows="5" ng-model="datospersona.rt_tit_ap_pat" id="rt_tit_ap_pat" name="rt_tit_ap_pat" class="form-control" type="text" ng-disabled="desabilitado" required>
                             <span style="color:red" ng-show="formularioTipoPersonaJuridica.rt_tit_ap_pat.$invalid"> </span>
                         </div>
                         </div> 
                       </div> 
                    </div>                          
                </form>
          </div>

           <div class="modal-body">
                <form name="TipoPersonaJuridica" readOnly="true" novalidate>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="from-group">
                          <label for="Apellido Materno">Apellido Materno:</label>
                          <div class="controls">
                            <input cols="40" rows="5" ng-model="datospersona.rt_tit_mat" id="rt_tit_mat" name="rt_tit_mat" class="form-control" type="text" ng-disabled="desabilitado" required>
                            <span style="color:red" ng-show="formularioTipoPersonaJuridica.rt_tit_mat.$invalid"> </span>
                         </div>
                         </div> 
                       </div> 
                    </div>                          
                </form>
          </div>

          <div class="modal-body">
                <form name="TipoPersonaJuridica" readOnly="true" novalidate>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="from-group">
                          <label for="Numero Telefonico">Numero Telefonico:</label>
                          <div class="controls">
                            <input cols="40" rows="5" ng-model="datospersona.rt_tit_tel" id="rt_tit_tel" name="rt_tit_tel" class="form-control" type="text" ng-disabled="desabilitado" required>
                            <span style="color:red" ng-show="formularioTipoPersonaJuridica.rt_tit_tel.$invalid"> </span>
                         </div>
                         </div> 
                       </div> 
                    </div>                          
                </form>
          </div>
       </div>
    </div>
  </div>
</div>
        
   