<div class="col-md-12" class="row" ng-controller="ubicacionController" data-ng-init="inicioUbicacion()">
	<table width="100%">
		<td><h3><CENTER>UBICACION </CENTER></h3></td> 

     <div class="col-md-6">
        <div class="form-group" >
         <label for="category">Secciones</label>                                  
          <div class="controls">
           <select ng-model="obtL1Secciones.l1cod" id="l1cod" name="l1cod" class="form-control"  ng-required="true">
            <option ng-repeat="sec in Secciones" value="{{sec.l1cod}}">{{sec.rt_l1descripcion }}</option>
             </select>
              <span style="color:red" ng-show="formularioUbicacion.l1cod.$invalid">
                  <span ng-show="formularioUbicacion.l1cod.$error.required">Seccion es requerido.
                  </span>
              </span>
          </div>
        </div>
    </div>




	 <table ng-table="tablaUbicacion"  show-filter="true" class="table table-striped table-bordered">
            <tr ng-repeat="ubicacion in $data" ng-class="{'colorInactivo': Seccion.prsEstado == 'INACTIVO'}">
                <a class="btn btn-primary" ng-click="crearDifunto()" data-toggle="modal" data-target="#registro">
                <i class="glyphicon glyphicon-plus-sign"></i> Nuevo registro</a>
                <td align="center" data-title="'Opciones'">
                    <a ng-click="modificarDifunto(datosDifunto)" class="btn btn-default btn-circle" data-toggle="modal" data-target="#registro"><i class="fa fa-pencil" style="color:#249FE6"></i></a>
                    <a ng-click="eliminarPersonaCargar(persona)" class="btn btn-default btn-circle" data-toggle="modal" data-target="#registro"><i class="fa fa-trash-o" style="color:#249FE6"></i></a>
                </td>
                <td data-title="'Descripcion'" sortable="'rt_l1descripcion '" filter="{'rt_l1descripcion':'text'}">{{ubicacion .rt_l1descripcion }</td>
                <td data-title="'L1_estado'" sortable="'rt_l1estado'" filter="{'rt_l1estado':'text'}">{{ubicacion.rt_l1estado}}</td>
                
                
            </tr>
        </table>
   </div>
</div>