<div class="col-md-12" class="row" ng-controller="exhumacionController" >
<div class="row">
    <div class="col-md-12">
               
                <div class="panel panel-default">
                  <div class="panel-heading"><center><H5>PROCESO DE EXHUMACION</H5></center></div>                    
                   <div class="panel-body"> 
                        <table class="table  table-bordered">
                           <thead>
                              <tr>
                                 <th width="50%">INFORMACION TITULAR</th>
                                 <th width="50%">REQUISITOS: </th>
                              </tr>
                           </thead>
                           <tbody>                                
                              <tr>
                                 <td width="50%">
                                    <div class="col-sm-4"><strong>Ape. Paterno : </strong></div>
                                    <div class="col-sm-8" align="left">{{paterno}}</div>
                                 </td>
                                 <td rowspan="4">
                                 <ul>
                                   <li></li>
                                 </ul>
                                 </td>
                                 
                                 </tr>
                               <tr>
                                 <td>   
                                    <div class="col-sm-4"> <strong>Ape. Materno : </strong></div>
                                   <div class="col-sm-8" align="left">{{materno}}</div>
                                    </td>
                                    </tr>
                               <tr>
                                 <td>
                                 <div class="col-sm-4"><strong>Nombres : </strong></div>
                                 <div class="col-sm-8" align="left">{{nombre}}</div>
                                 
                                    </td>
                                    </tr>
                               <tr>
                                 <td>
                                    <div class="col-sm-4"><strong> <strong>C.I. : </strong>  </div>
                                    <div class="col-sm-8" align="left">{{carnet}}</div>            
                                 </td>
                              </tr>
                               <tr>
                              <td colspan="2">
                              <form class="form-inline" >
                                  
                                    <div class="form-group">
                                        <label class="sr-only" for="carnet">Carnet</label>
                                        <input type="text" class="form-control" id="carnet" ng-model="modelo_difuntu.carnet" placeholder="Introduce tu carnet">
                                      </div>
                                      <button type="submit" class="btn btn-default" ng-click="buscarDifunto(modelo_difunto)" data-toggle="modal" data-target="#registro">Buscar Difunto</button>
                              </form>
                               </td>
                              </tr>                                    
                           </tbody>
                        </table>
                    <table class="table  table-bordered">
                           <thead>
                              <tr align="center">
                                 <th align="center" >CARNET</th>
                                 <th align="center"  >NOMBRE </th>
                                 <th align="center" >APELLIDO PATERNO</th>
                                 <th align="center" >APELLIDO MATERNO </th>
                                 
                              </tr>
                           </thead>
                           <tbody>                               
                              <tr>
                                 <td >{{seleccion.rtci}} </td>
                                 <td >{{seleccion.rtnombre}}</td>
                                 <td >{{seleccion.rtappat}} </td>
                                 <td >{{seleccion.rtapmat}}</td>
                                 <td >{{seleccion.rt_dif_codifun}}</td>
                              </tr>
                               <tr>
            					<td colspan="4" > 
                                 <div class="form-group">
                                    <form name="form_translado" >
                                    <input type="hidden" id="cod_titular"  name="cod_titular" ng-model="modTranslado.cod_titular" ng-init="modTranslado.cod_titular = cod_tit" />
                                    <input type="hidden" id="cod_difunto"  name="cod_difunto" ng-model="modTranslado.cod_difunto"  ng-init="modTranslado.cod_difunto = seleccion.rt_dif_codifun" />
                                     <div class="col-md-6">
                                            <div class="form-group" > 
                                                <label for="url" > Motivo del Translado: </span></label>
                                                <div class="controls">
                                                <input type="text" class="form-control" id="motivo" name="motivo" ng-model="modTranslado.motivo" size="50" required />
                                                </div>
                                            </div>
                                     </div>
                                     <div class="col-md-6">
                                             <div class="form-group" >
                                                <label for="url" > Fecha de Translado: </span></label>
                                                <div class="controls">
                                                    <p class="input-group">
                                                        <input type="text" class="form-control" id="fecha_tra" name="fecha_tra" datepicker-popup="" ng-model="modTranslado.fecha_tra"  is-open="startDateOpened"  close-text="Close" ng-disabled="desabilitado" required />
                                                     <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        </span></p>
                                                </div>
                                            </div>
                                       </div>
                                    <button class="btn btn-danger btn-sm" type="button" ng-click="adicionarTranslado(modTranslado)" ng-disabled="form_translado.$invalid" >GUARDAR</button>
                                    </form>
                                 </div>
                				</td>
            				</tr>
                              </tbody>
                        </table>     
                </div>                    
             </div>
         </div>

  
   <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel">BUSQUEDA DIFUNTO</h4>
                </div>
                <div class="modal-body" >
                 <table ng-table="tablaDifunto"  show-filter="true" class="table table-striped table-bordered">
            <tr ng-repeat="difunto in $data">
    
                <td data-title="'C.I.'" sortable="'rtci'" filter="{'rtci':'text'}">{{difunto.rtci}}</td>
                <td data-title="'Nombre Completo'" sortable="'rtnombre'" filter="{'rtnombre':'text'}">{{difunto.rtnombre}}</td>
                <td data-title="'Apellido Paterno'" sortable="'rtappat'" filter="{'rtappat':'text'}">{{difunto.rtappat}}</td>
                <td data-title="'Apellido Materno'" sortable="'rtapmat'" filter="{'rtapmat':'text'}">{{difunto.rtapmat}}</td>
                <td data-title="'Seleccion'" >

                <a ng-click="optenerSeleccion(difunto)" data-dismiss="modal">Seleccione</a>
                </td>
                
            </tr>
           
        </table>
                </div>
            </div>
        </div>
  </div>
    </div>

