<script type="text/javascript">
            // When the document is ready
      function conMayusculas(field) {
        field.value = field.value.toUpperCase()
      };
      //*** Este Codigo permite Validar que sea un campo Numerico
            function soloNumerico(variable){
                Numer=parseInt(variable);
                if (isNaN(Numer)){
                    return "";
                }
                return Numer;
            }
            function valNumero(Control){
                Control.value=soloNumerico(Control.value);
            }
            //*** Fin del Codigo para Validar que sea un campo Numerico
</script>
<!--<script src="app/controller/administracion/appNacionalidad.js" type="text/javascript"></script>-->
<div  class="col-md-12" ng-controller="profController" data-ng-init="inicioProfesion()">
    <table width="100%">
        <td><h3>Profesion</h3></td>
    </table>
    <br/>
    <div class="row">
        <table ng-table="tablaProfesion" show-filter="true" class="table table-striped table-bordered">
            <tr ng-repeat="profesion in $data" ng-class="{'colorInactivo': profesion.fn_profestado == 'INACTIVO'}">
                <a class="btn btn-primary" ng-click="limpiar()" data-toggle="modal" data-target="#registro">
                    <i class="glyphicon glyphicon-plus-sign"></i> Nueva Profesion
                </a>
                <td align="center" data-title="'Opciones'">
                    <a class="btn btn-default btn-circle" data-toggle="modal" data-target="#registro" ng-click="modificarProfesionCargar(profesion)"><i class="fa fa-pencil" style="color:#249FE6"></i></a>
                    <a onclick="" data-toggle="modal" data-target="#registro" ng-click="eliminarProfesionCargar(profesion)" class="btn btn-default btn-circle" ><i class="fa fa-trash-o" style="color:#249FE6"></i></a>
                </td>
                <!--td data-title="'ID'">{{rol.rlsId}}</td-->
                <td data-title="'Profesion'" sortable="'fn_prof_descripcion'" filter="{'fn_prof_descripcion':'text'}">{{profesion.fn_prof_descripcion}}</td>
                <td data-title="'Registrado'" sortable="'fn_profregistro'" filter="{'fn_profregistro':'text'}">{{profesion.fn_profregistro}}</td>
                <td data-title="'Modificado'" sortable="'fn_profmodificado'" filter="{'fn_profmodificado':'text'}">{{profesion.fn_profmodificado}}</td>
                <td data-title="'Estado'" sortable="'fn_profestado'" filter="{'fn_profestado':'text'}">{{profesion.fn_profestado}}</td>
            </tr>
        </table>
    </div>
    <!-- MODAL -->
    <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
                </div>
                <div class="modal-body" >
                    <form name="formularioProfesion" novalidate>
                        <div class="form-group">
                            <label for="url" >Profesion:</label>
                            <div class="controls">
                                <input  ng-value="&nbsp;" ng-model="datosProfesion.fn_prof_descripcion" name="fn_prof_descripcion" id="fn_prof_descripcion" class="form-control" type="text" placeholder="ingrese nombre de la profesion" ng-disabled="only" ng-required="true" onkeyUp="return conMayusculas(this)">
                                <span style="color:red" ng-show="formularioProfesion.fn_prof_descripcion.$invalid">
                                    <span ng-show="formularioProfesion.fn_prof_descripcion.$error.required">Nombre de la Profesion es requerido.
                                    </span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button data-dismiss="modal" ng-click="adicionarProfesion(datosProfesion)" type="button" class="btn btn-primary" ng-show="boton=='new'" ng-hide="boton=='upd' || boton=='del'" ng-disabled="formularioProfesion.fn_prof_descripcion.$invalid">Guardar</button>
                    <button ng-click="modificarProfesion(datosProfesion.fn_prof_id,datosProfesion)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='upd'" ng-hide="boton=='new' || boton=='del'" ng-disabled="formularioProfesion.fn_prof_descripcion.$invalid">Modificar</button>
                    <button ng-click="eliminarProfesion(datosProfesion.fn_prof_id)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='del'" ng-hide="boton=='new' || boton=='upd'">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>