<div class="col-md-12" class="row" ng-controller="difuntoController" data-ng-init="inicioDifunto()">
	<table width="100%">
		<td><h3>Difuntos</h3></td> 
	</table>
	<br/>
	<div class="row"> 
        <table ng-table="tablaDifunto"  show-filter="true" class="table table-striped table-bordered">
            <tr ng-repeat="difunto in $data" ng-class="{'colorInactivo': persona.prsEstado == 'INACTIVO'}">
                <a class="btn btn-primary" ng-click="crearDifunto()" data-toggle="modal" data-target="#registro">
                <i class="glyphicon glyphicon-plus-sign"></i> Nuevo Difunto</a>
                <td align="center" data-title="'Opciones'">
                    <a ng-click="modificarDifunto(datosDifunto)" class="btn btn-default btn-circle" data-toggle="modal" data-target="#registro"><i class="fa fa-pencil" style="color:#249FE6"></i></a>
                    <a ng-click="eliminarPersonaCargar(persona)" class="btn btn-default btn-circle" data-toggle="modal" data-target="#registro"><i class="fa fa-trash-o" style="color:#249FE6"></i></a>
                </td>
                <td data-title="'Nombre Completo'" sortable="'rtnombre'" filter="{'rtnombre':'text'}">{{difunto.rtnombre}}</td>
                <td data-title="'C.I.'" sortable="'rtci'" filter="{'rtci':'text'}">{{difunto.rtci}}</td>
                <td data-title="'Apellido Paterno'" sortable="'rtappat'" filter="{'rtappat':'text'}">{{difunto.rtappat}}</td>
                <td data-title="'Apellido Materno'" sortable="'rtapmat'" filter="{'rtapmat':'text'}">{{difunto.rtapmat}}</td>
                
            </tr>
        </table>
    </div>
    <!--!modal!-->
 <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
                </div>
                <div class="modal-body" >
                    <form name="formularioDifuntos" readOnly="true" novalidate>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >Nombre:</label>
                                    <div class="controls">
                                        <input  cols="40" rows="5" ng-model="datosDifunto.difNom" id="difNom" name="difNom" class="form-control" type="text" placeholder="ingrese nombres" 
                                        ng-disabled="desabilitado"  onkeyUp="return conMayusculas(this);" required>
                                        <span style="color:red" ng-show="formularioDifuntos.difNom.$invalid">
                                            <span ng-show="formularioDifuntos.difNom.$error.required">Nombre es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >Paterno:</label>
                                    <div class="controls">
                                        <input  ng-model="datosDifunto.difPat" id="difPat" name="difPat" class="form-control" type="text" placeholder="ingrese apellido paterno" 
                                        ng-disabled="desabilitado"  onkeyUp="return conMayusculas(this);" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >Materno:</label>
                                    <div class="controls">
                                        <input  ng-model="datosDifunto.difMat" id="difMat" name="difMat" class="form-control" type="text" placeholder="ingrese apellido materno" 
                                        ng-disabled="desabilitado" onkeyUp="return conMayusculas(this);" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >otro apellido:</label>
                                    <div class="controls">
                                        <input  ng-model="datosDifunto.difOtroApellido" id="difOtroApellido" name="difOtroApellido" class="form-control" type="text" placeholder="ingrese otro apellido " ng-disabled="desabilitado"  onkeyUp="return conMayusculas(this);" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >CI:</label>
                                    <div class="controls">
                                        <input  ng-model="datosDifunto.difCi" id="difCi" name="difCi" class="form-control" type="text" placeholder="ingrese ci" ng-disabled="desabilitado" onkeyUp="return valNumero(this);" required>
                                        <span style="color:red" ng-show="formularioDifuntos.difCi.$invalid">
                                            <span ng-show="formularioDifuntos.difCi.$error.required">Nro de Carnet es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--inicio de combos!-->
                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="category">nacionalidad</label>                                  
                                    <div class="controls">
                                        <select ng-model="datosDifunto.nac_id" id="nac_id" name="nac_id" class="form-control"  ng-required="true">
                                            <option ng-repeat="nacion in nacionalidad" value="{{nacion.fn_nac_id}}">{{nacion.fn_nac_descripcion}}</option>
                                        </select>
                                        <span style="color:red" ng-show="formularioDifuntos.nac_id.$invalid">
                                            <span ng-show="formularioDifuntos.nac_id.$error.required">nacionalidad es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                             <div class="col-md-6">
                                <div class="from-group">
                                    <label for="category">provincia</label>
                                    <div class="controls">
                                        <select ng-model="datosDifunto.prov_id" id="prov_id" name="prov_id" class="form-control" ng-requiered="true">
                                            <option ng-repeat="provi in provincia" value="{{provi.fn_prov_id}}">{{provi.fn_prov_descripcion}}</option>
                                        </select>
                                        <span style="color:red" ng-show="formularioDifuntos.prov_id.$invalid">
                                            <span ng-show="formularioDifuntos.prov_id.$error.required">provincia es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="from-group">
                                    <label for="category">Localidad</label>
                                    <div class="controls">
                                        <select ng-model="datosDifunto.loc_cod" id="loc_cod" name="loc_cod" class="form-control" ng-requiered="true">
                                            <option ng-repeat="local in localidad" value="{{local.fn_loc_cod}}">{{local.fn_loc_descricion}}</option>
                                        </select>
                                        <span style="color:red" ng-show="formularioDifuntos.loc_cod.$invalid">
                                            <span ng-show="formularioDifuntos.loc_cod.$error.required">localidad es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="category">CIUDAD</label>
                                    <div class="controls">
                                        <select id="ciudad" class="form-control" ng-model="datosDifunto.ciudad" ng-disabled="desabilitado">
                                            <option value="LA PAZ">LA PAZ</option>
                                            <option value="EL ALTO">EL ALTO</option>
                                            <option value="PANDO">PANDO</option>
                                            <option value="BENI">BENI</option>
                                            <option value="ORURO">ORURO</option>
                                            <option value="COCHABAMBA">COCHABAMBA</option>
                                            <option value="SANTA CRUZ">SANTA CRUZ</option>
                                            <option values="POTOSI">POTOSI</option>
                                            <option values="SUCRE">SUCRE</option>
                                            <option values="TARIJA">TARIJA</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                             <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >Fecha de Nacimiento:</label>
                                    <div class="controls">
                                        <p class="input-group">
                                            <input name="fechaNacimiento" id="fechaNacimiento" type="text" class="form-control" datepicker-popup="" ng-model="datosDifunto.fechaNacimiento" is-open="startDateOpened"  close-text="Close" ng-disabled="desabilitado" required/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span></p>
                                        <span style="color:red" ng-show="formularioDifuntos.fechaNacimiento.$invalid">
                                            <span ng-show="formularioDifuntos.fechaNacimiento.$error.required">Fecha de Nacimiento es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            

                             <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >Género:</label>
                                    <div class="controls" >
                                        <input type="radio" ng-model="datosDifunto.difSexo" name="difSexo" value="M" ng-change="" ng-disabled="desabilitado" ng-required="true">Masculino&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="radio" ng-model="datosDifunto.difSexo" name="difSexo" value="F" ng-change="" ng-disabled="desabilitado" ng-required="true">Femenino<br>
                                        <span style="color:red" ng-show="formularioDifuntos.difSexo.$invalid">
                                            <span ng-show="formularioDifuntos.difSexo.$error.required">Género es requerido.
                                            </span>
                                        </span>
                                        
                                    </div>
                                </div>
                            </div>
                          
                           
                             <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="category">Estado civil</label>
                                    <div class="controls">
                                        <select id="difEstCivil" class="form-control" ng-model="datosDifunto.difEstCivil" ng-disabled="desabilitado">
                                            <option value="SOLTERO(A)">SOLTERO(A)</option>
                                            <option value="CASADO(A)">CASADO(A)</option>
                                            <option value="DIVORCIADO(A)">DIVORCIADO(A)</option>
                                            <option value="VIUDO(A)">VIUDO(A)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                              <div class="col-md-6">
                                <div class="from-group">
                                    <label for="category">Profesion</label>
                                    <div class="controls">
                                        <select ng-model="datosDifunto.difprofesion" id="difprofesion" name="difprofesion" class="form-control" ng-requiered="true">
                                            <option ng-repeat="prof in profesion" value="{{prof.fn_prof_id}}">{{prof.fn_prof_descripcion}}</option>
                                        </select>
                                        <span style="color:red" ng-show="formularioDifuntos.difprofesion.$invalid">
                                            <span ng-show="formularioDifuntos.difprofesion.$error.required">profesion es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                             <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >observacion:</label>
                                    <div class="controls">
                                        <input  ng-model="datosDifunto.difObservacion" id="difObservacion" name="difObservacion" class="form-control" type="text" placeholder="ingrese observacion" ng-disabled="desabilitado"  onkeyUp="return conMayusculas(this);" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >Gestion</label>
                                    <div class="controls">
                                        <p class="input-group">
                                            <input name="difGestion" id="difGestion" type="text" class="form-control" datepicker-popup="" ng-model="datosDifunto.difGestion" is-open="startDateOpened1 " ng-required="true" close-text="Close" ng-disabled="desabilitado"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="startDateOpen1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span></p>
                                        <span style="color:red" ng-show="formularioDifuntos.difGestion.$invalid">
                                            <span ng-show="formularioDifuntos.difGestion.$error.required">Gestion es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url" >edad:</label>
                                    <div class="controls">
                                        <input  ng-model="datosDifunto.difEdad" id="difEdad" name="difEdad" class="form-control" type="text" placeholder="ingrese edad" ng-disabled="desabilitado" onkeyUp="return valNumero(this);" required>
                                        <span style="color:red" ng-show="formularioDifuntos.difEdad.$invalid">
                                            <span ng-show="formularioDifuntos.difEdad.$error.required">edad es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>    


                                                  
                               
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="demo2" type="button" class="btn btn-default" data-dismiss="modal">Cerrar </button>

                    <button ng-click="adicionarDifunto(datosDifunto)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='new'" ng-hide="boton=='upd' || boton=='del'" ng-disabled="formularioDifuntos.$invalid">Guardar</button>

                    <button ng-click="modificarDifunto(datosDifunto.dif_id,datosDifunto)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='upd'" ng-hide="boton=='new' || boton=='del'" ng-disabled="formularioDifuntos.$invalid">Modificar</button>

                    <button ng-click="eliminarPersona(datosDifuntoa.prsId)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='del'" ng-hide="boton=='new' || boton=='upd'">Eliminar</button>
                </div>
            </div>
        </div>
    </div>




    
</div>